<!-- sidebar.nunjucks -->
<div class="col-md-4" data-sticky_column>
	<div class="primary-sidebar">
		<aside class="widget about-me-widget">
			<div class="about-me-img">
				<div class="about-me-content text-center">
					<img src="assets/images/photos/sidebar-me.jpg" alt="" class="img-me">
					<h3 class="text-uppercase">Stephanie Mankarios</h3>
					<p><strong>Hey, I’m Steph!</strong><br>I’m here to help you create change and grow, to feel happiness, find purpose, and inner peace.
					</p>
				</div>
			</div>
			<!--<div class="social-share">
								<ul class="text-center text-center">
									<li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
									<li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
									<li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
									<li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>-->
		</aside>
		<!--<aside class="widget news-letter">
			<h3 class="widget-title text-uppercase text-center">Get Newsletter</h3>
			<form action="#">
				<input type="email" placeholder="Your email address">
				<input type="submit" value="Subscribe Now" class="text-uppercase text-center btn btn-subscribe">
			</form>
		</aside>-->
		<aside class="widget news-letter">
			<form action="#">
				<input type="email" placeholder="Search topics">
				<input type="submit" value="Search" class="text-uppercase text-center btn btn-subscribe">
			</form>
		</aside>
		<!--<aside class="widget">
                            <h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
                            <div class="popular-post">
                                <a href="index-list.html#" class="popular-img"><img src="assets/images/p1.jpg" alt="">
                                    <div class="p-overlay"></div>
                                </a>
                                <div class="p-content">
                                    <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                            <div class="popular-post">
                                <a href="index-list.html#" class="popular-img"><img src="assets/images/p1.jpg" alt="">
                                    <div class="p-overlay"></div>
                                </a>
                                <div class="p-content">
                                    <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                            <div class="popular-post">
                                <a href="index-list.html#" class="popular-img"><img src="assets/images/p1.jpg" alt="">
                                    <div class="p-overlay"></div>
                                </a>
                                <div class="p-content">
                                    <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                    <span class="p-date">February 15, 2016</span>
                                </div>
                            </div>
                        </aside>
                        <aside class="widget">
                            <h3 class="widget-title text-uppercase text-center">Featured Posts</h3>
                            <div id="widget-feature" class="owl-carousel">
                                <div class="item">
                                    <div class="feature-content">
                                        <img src="assets/images/p1.jpg" alt="">
                                        <a href="index-list.html#" class="overlay-text text-center">
                                            <h5 class="text-uppercase">Home is peaceful</h5>
                                            <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-content">
                                        <img src="assets/images/p2.jpg" alt="">
                                        <a href="index-list.html#" class="overlay-text text-center">
                                            <h5 class="text-uppercase">Home is peaceful</h5>
                                            <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="feature-content">
                                        <img src="assets/images/p3.jpg" alt="">
                                        <a href="index-list.html#" class="overlay-text text-center">
                                            <h5 class="text-uppercase">Home is peaceful</h5>
                                            <p>Lorem ipsum dolor sit ametsetetur sadipscing elitr, sed </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <aside class="widget pos-padding">
                            <h3 class="widget-title text-uppercase text-center">Recent Posts</h3>
                            <div class="thumb-latest-posts">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="index-list.html#" class="popular-img"><img src="assets/images/r-p.jpg" alt="">
                                            <div class="p-overlay"></div>
                                        </a>
                                    </div>
                                    <div class="p-content">
                                        <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                        <span class="p-date">February 15, 2016</span>
                                    </div>
                                </div>
                            </div>
                            <div class="thumb-latest-posts">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="index-list.html#" class="popular-img"><img src="assets/images/r-p.jpg" alt="">
                                            <div class="p-overlay"></div>
                                        </a>
                                    </div>
                                    <div class="p-content">
                                        <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                        <span class="p-date">February 15, 2016</span>
                                    </div>
                                </div>
                            </div>
                            <div class="thumb-latest-posts">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="index-list.html#" class="popular-img"><img src="assets/images/r-p.jpg" alt="">
                                            <div class="p-overlay"></div>
                                        </a>
                                    </div>
                                    <div class="p-content">
                                        <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                        <span class="p-date">February 15, 2016</span>
                                    </div>
                                </div>
                            </div>
                            <div class="thumb-latest-posts">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="index-list.html#" class="popular-img"><img src="assets/images/r-p.jpg" alt="">
                                            <div class="p-overlay"></div>
                                        </a>
                                    </div>
                                    <div class="p-content">
                                        <a href="index-list.html#" class="text-uppercase">Home is peaceful Place</a>
                                        <span class="p-date">February 15, 2016</span>
                                    </div>
                                </div>
                            </div>
                        </aside>-->
		<!--
						<aside class="widget border pos-padding">
							<h3 class="widget-title text-uppercase text-center">Categories</h3>
							<ul>
								<li>
									<a href="">Food &amp; Drinks</a>
									<span class="post-count pull-right"> (2)</span>
								</li>
								<li>
									<a href="">Travel</a>
									<span class="post-count pull-right"> (2)</span>
								</li>
								<li>
									<a href="">Business</a>
									<span class="post-count pull-right"> (2)</span>
								</li>
								<li>
									<a href="">Story</a>
									<span class="post-count pull-right"> (2)</span>
								</li>
								<li>
									<a href="">DIY &amp; Tips</a>
									<span class="post-count pull-right"> (2)</span>
								</li>
								<li>
									<a href="">Lifestyle</a>
									<span class="post-count pull-right"> (2)</span>
								</li>
							</ul>
						</aside>
-->
		<aside class="widget sidebar sidebar-primary widget-area">
			<section id="text-41" class="widget-categories widget_text">
				<div class="widget-wrap">
					<h3 class="widgettitle widget-title-categories" style="margin-bottom: 25px;">I Want to Read&#8230;</h3>
					<div class="textwidget">
						<div class="read">
							<div class="read-1">
								<a class="block" href="self-development-archive.html"><img src="assets/images/social-media/tree-of-life.png" alt="self development" /> <span class="read-link">self<br />development</span></a>
							</div>
							<div class="read-2">
								<a class="block" href="coconut-milk.html"><img src="assets/images/social-media/yoga.png" alt="wellness &amp; health" /> <span class="read-link">wellness<br />&amp; health</span></a>
							</div>
							<div class="read-3">
								<a class="block" href="welcome-to-my-blog.html"><img src="assets/images/social-media/cairn.png" alt="spirituality" /> <span class="read-link">spirituality</span></a>
							</div>
							<div class="read-4">
								<a class="block" href="morning-ritual.html"><img src="assets/images/social-media/heart.png" alt="happiness &amp; love" /> <span class="read-link">happiness<br />&amp; love</span></a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</aside>
		<!--<aside class="widget pos-padding">
			<h3 class="widget-title text-uppercase text-center">Follow @stephaniemankarios</h3>
			<div class="instagram-follow">
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
				<a href="index-list.html#">
					<img src="assets/images/ins-flow.jpg" alt="">
				</a>
			</div>
		</aside>-->
	</div>
</div>
</div>
</div>
</div>
<!-- end main content-->