{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/present-moment.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Spirituality</h6>
              <h1 class="entry-title">3 Quick Tips on How to Stay in the Present Moment </h1>
            </header>
            <div class="entry-content">

<p>Do you sometimes feel like the days go by so fast, and next thing you know half the year is gone,and you have no idea where it went?  </p>
 
<p>We often say "Time flies". </p>
 
<p>We are so busy and have so many things happening in our lives that sometimes it feels difficult  to stop and enjoy. I feel ya ... </p>
 
<p>I've written 3 quick tips to help you stay present in the moment so that you can feel like you're really present in your everyday life. Like you are fully participating in every aspect of it, and don't feel robbed of your time.  </p>

<h4 >1. Be aware of all the sensations </h4>
 
<p>Every moment, we are flooded with stimulation. Practice filtering out the visual noise and the auditory noise in order to really pick up on the sensations that will help you stay present.<p>  
 
<p>For example, if you are sitting in front of a person, engaged in conversation, really take them in. What does this mean? It means, be fully present to them. Visually take in their face, the details of their eyes, their skin, the colours, the textures. </p>
<p>When listening to them talk, be present to the sound of their voice, their intonation, the speed at which they speak, maybe even the emotion in their voice.  <p>
 
<p>Those are visual and auditory examples. You can start with those if they feel easier. <p> 
 
<p>You can also be present to the somatosensations (touch), by noticing the sensation of the air touching your skin (warm or cool), the clothes touching your body, and anything else that is in contact with your body.  <p>
 
<p>All these examples of awareness will help you stay in the present moment, because all these sensations <strong>are happening in the present moment</strong>.  <p>

<h4>2. Stay with your breath  </h4>
 
<p>This is my favorite one, and it's the one that really gives us a lot of information about the moment. </p> 
 
<p>What do I mean by information? Our breath shifts and changes constantly based on our mental, emotional, and physical experience in each moment. If we pay close attention to how we are breathing, it will give us information about how we are feeling. </p> 
 
<p>When we feel discomfort (physically or emotionally : anger, sadness, fear, anxiety, uncertainty, etc), we either tend to breathe in a more shallow rapid breath, OR, we kind of stop breathing.  </p>
 
<p>When we experience pleasant feelings, we tend to take more expansive, full, deep breaths.</p>  
 
<p>So, knowing this, we can really learn a lot about how we are feeling, based on how we are breathing. When we notice that we aren't breathing fully and deeply, we can intentionally bring breath back in to the body. </p>
 
<p>Staying aware of the breath is a wonderful way to stay in the present moment, because we are only breathing in the <strong>here and now!</strong></p>

<h4>3. Observe your thoughts </h4>
 
<p>I left this one for last, because it could be the most challenging one (but hey, maybe not!). 
 
<p>As we all know, we have thousands of thoughts per day. In fact, according to Huffington post, we have between 50,000 and 70,000 thoughts per day. That's a whooping, 35 to 48 thoughts per minute! </p>
 
<p>A great practice is to watch your thoughts. I always like to explain it to my students like this : Watch your thoughts come in and out, the same way that you would watch people walk by while you are sitting on a park bench. As you watch a new thought come in, you may say to yourself "Oh, here comes another thought. Oh, here comes another one. And another one. And there it goes." You become an observer. You witness your thoughts. Rather than attaching to them, just <strong>witness</strong> them. </p> 
 
<p>By practicing this method, we stay present. When we attach to a thought, we follow the thought, and the thought might take us away, into the past or the future. By simply observing the thoughts, you stay extremely present. In fact, you have to stay present, because you are continuously witnessing the next one enter, and the last one exit. </p> 
 
<p>All of these methods are amazing techniques for <strong>mindfulness</strong>. And just like anything else, they require practice. So don’t get impatient with yourself if the first time you try it, it feels challenging. Start by taking a few minutes everyday to dedicate yourself to being fully present. Then, the more often you practice, the more it will become like second nature, and will become <strong>a way of life</strong>. </p> 

<p>----</p>

  <p><strong>Try it out, and let me know how it goes!</strong></p>


  <br><br><br><br>

  <p><i>Image credit by <a href="https://lens.blogs.nytimes.com/2013/07/23/the-inner-lives-of-buddhist-monks/?_r=0">Nytimes Lens Blog</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">June 1, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}