<!-- 3-reasons-why-everyone-needs-a-therapist.njk -->
{% extends "layout.njk" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/therapist.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Self Development</h6>
              <h1 class="entry-title">3 Reasons Why Everyone Needs A Therapist</h1>
            </header>
            <div class="entry-content">
              <p></p>

<p>For a long time, there was a stigma around therapy. I even noticed this when recently watching an episode of  Gilmore Girls (yes you can laugh at me:), where Lorelai said "A therapist? Why, have you gone crazy?" </p>
 
<p>There was this idea that you either needed to be "crazy" to see a therapist, or something really bad had to happen to you. </p> 
 
<p>The truth is, everyone can benefit from therapy. </p> 
 
<p>And here are 3 reasons why: </p>
 
<p><strong>1. We all need help to dig deeper </strong></p>
 
<p>Let's face it, as much as some of us have really close people with whom we can share everything with, you can only go so far with a friend or family member.  </p>
 
<p>Of course, we all have that one caring person in our lives that would listen to us until the world ended, but the truth is, without proper training, no one can REALLY help us the way someone with a trained background can. </p>
 
<p>Seeing a therapist, coach, psychologist, counselor or psychiatrist can really be beneficial in order to dig deeper through the layers that sometimes feel too painful to remove on our own.  </p>
 
<p>They also help us to see things we otherwise wouldn't see, make intelligent connections and offer an alternate perspective to situations in our lives.  </p>
 
<p><strong>2 .It will improve ALL your relationships </strong></p>
 
<p>When we spend any time healing, there are innumerable benefits, notably, the improved relationship we develop with ourselves. And let me tell you, <strong><i>the relationship you have with yourself is the single most important relationship of your life.</i></strong>  </p>
 
<p>You are the ONLY person you are going to spend the rest of your life with. You are the only person that will be there every moment of every day. YOU. So the inner dialect, and the inner relationship you create will dictate the way in which all the other relationships in your life will unfold.</p>  
 
<p>Consequently, you will attract and have a healthier relationship with your partner, with your family, friends, and colleagues.   </p>
 
<p><strong>3. It will help you grow and heal </strong></p>
 
<p>The things that happen to us throughout our lives affect the way we feel on a day to day basis. </p> 
 
<p>Whether we are aware of it or not, all our experiences impact our unconscious, subconscious, and <p>conscious minds, as well as our health.  </p>
 
<p>The longer wounds are held inside and remain undealt with, the more we suffer. Sometimes we don’t even realize that the way we behave, the things we say, the way we react, and the way we feel, are all consequences of our past. But they are. </p>
 
<p>Uncovering things through talk therapy has been proven to significantly improve one's mental health and overall happiness and satisfaction with life.  </p>
 
<p>And don’t we all want to be happy? I mean, isn't that the whole point of life? </p>
 
<p>--- </p>
 
<p>Even therapists have therapists. Yup, in fact, in most mental health related fields, during training, it's required to be in therapy. And is encouraged beyond our studies. Think about it, the more you work on yourself, the more you can help others.</p>  
 
<p>In my own experience, the type of therapy I have found to be most helpful and which has most impacted my life, is a somatic-based approach. It is the study of the relationship between the body and the mind and how they affect each other.</p>  
 
<p>It's important to find an approach that works for you. Try different things, and different practitioners until you find what feels right.  </p>
 
<p>--- </p>

<p><strong>Have you had a type of therapist, coach, or psychologist before? Did you find it helpful?</strong> </p>

<p><i>Image credit to</i> <a href="http://www.goodtherapy.org/what-is-therapy.html">goodtherapy.org</a></p>









            </div>
            <div class="decoration">
              <a href="blog.html#" class="btn btn-default">Self Development</a>
            </div>
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">April 6, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
      <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      
      
      </div>
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</div>
<!-- end main content-->

{% endblock %}                     