<!-- 30-days-without-sugar.njk -->
{% extends "layout.njk" %} {% block content %}

<style>
  ul {
    list-style-type: disc;
  }
</style>


<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/30-days-without-sugar.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Health &amp; Wellness</h6>
              <h1 class="entry-title">How 30 Days Without Sugar Has Positively Shifted My Life!</h1>
            </header>
            <div class="entry-content">
              <p></p>



              <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>


              <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>


              <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything),right?</p>


              <p>Well friend, here is my story: </p>

              <p>I recently started working with a Functional Health Practitioner (best decision I ever made btw, and after running some tests, we uncovered that my gut is…in the least scary terms possible, not in such good shape</p>

              <p>I have 2 things: </p>

              <ul>
                <li>A parasite called Blastocystis hominis (yuck, right?). According to Wikipedia, it is one of the most common
                  human parasites in the world, and is THE most common parasitic infection in the United States. </li>

                <li>Candida Albicans, which is a fungus, is detectable in the gastrointestinal tract in 40% of healthy adults,
                  according to wikipedia. </li>
              </ul>

              <p>Yup, scary, I know.</p>

              <p><strong>The good news is</strong>, I can get rid of these by using natural supplements (through the help and
                guidance of a licensed Health coach), and starving the candida by quitting sugar. </p>

              <p>(Please check with a licensed health care provider before you attempt to stop eating sugar. This is simply
                my own experience being shared in order to shed some light on the subject. If you suspect that you may have
                some gut-related issues, contact a certified Health Coach). </p>


              <p>So, it's been <strong>30 DAYS so far</strong>. </p>

              <p>30 days with: </p>

              <ul>
                <li>no white sugar </li>
                <li>no brown sugar </li>
                <li>no maple syrup </li>
                <li>no honey </li>
                <li>no agave </li>
                <li>no coconut crystals </li>
                <li>no cane sugar </li>
                <li>no molasses </li>
                <li>no alcohol (I really don't drink anyway) </li>
                <li>no fruit (this has been the most difficult to live without) </li>
              </ul>

              <p>AND.I.FEEL.AMAZING. </p>

              <p>Well, amazing might be an overstatement because I'm pretty tired (which is a normal part of the process), but
                I feel pretty darn good. </p>

              <p>Let me tell you how stopping sugar has improved my life so far: </p>

              <ol>
                <li><strong>I sleep better.</strong> <br> I go through bouts of insomnia at different random times in my life,
                  or my sleep gets interrupted. Now, I'm out cold, and I wake up feeling rejuvenated, whereas before, I would
                  wake up feeling tired even after a long night's sleep. </li>
                <br>
                <li><strong>I'm happier.</strong> <br> There is a huge scientific link between depression and sugar. In fact,
                  according to Brain Bio Center, the glucose peaks and troughs that sugar causes in the blood cause symptoms
                  such as irritability, fatigue, insomnia, dizziness, poor concentration, excessive sweating, excessive thirst,
                  forgetfulness, crying spells, depression, and digestive disturbances. </li>
                <br>
                <li><strong>I'm calmer.</strong> <br> Some days, even if I slept well, meditated, laughed, practiced yoga, read,
                  spent time in nature, and did all the things that help to calm me, I can feel anxious. Now, that feeling
                  is pretty much completely gone. Even in stressful moments I have been able to remain calmer than I have
                  been in a long time! </li>
                <br>
                <li><strong>I'm no longer bloated.</strong> <br> If you ask anyone who knows me, they will tell you that I always
                  like to show my six-month-looking-pregnant-belly after I eat. It has become a little bit of a humorous
                  competition that occurs after meals between my husband and I. Luckily, I don't have that problem any more.
                  My stomach, for the most part, remains relatively the same after I eat. </li>
                <br>
                <li><strong>My mind feels clear.</strong> <br> It's a little difficult to explain, but I would feel a sense of
                  brain fog previously. Now, everything feels sharp and clear. </li>
                <br>
                <li><strong>I'm digesting so much better.</strong> <br> I've had digestive problems since I was …..hmmm…9? This
                  has drastically improved in the last 30 days. I feel better equipped to digest my food, which feels really
                  nice. </li>
                <br>
                <li><strong>My period came, almost pain free.</strong> <br> Ladies, I never thought this would be possible. For
                  as long as I can remember, the day I get my period, is a day off. It's bed time, hot bags, tears, pain-killers,
                  and trying to survive the worst physical pain of my life…every single month. <br> 8 days after quitting
                  sugar, my period came, and I barely felt it. In fact, angels were singing instead, and I had a smile on
                  my face for about a week, knowing my body was able to do what every woman's body does naturally, almost
                  effortlessly. Thank Goddess. </li>
              </ol>

              <p>This, friends, is only after 30 days ( and all these benefits started appearing right away), imagine what wonderful
                things will happen after a few months? </p>

              <p>This is my body saying <strong>YES!!!! THANK YOU</strong> for removing something that was hurting me. She is
                rewarding me. </p>

              <p>Once I'm healthy again, I will re-incorporate fruit, because by all means, I totally believe that fruit is
                a gift from Mother Earth. But I will be more mindful about the foods and drinks I ingest that contain any
                kind of sugar, even though I already considered myself as a healthy eater.</p>

              <p>I will write another blog post after a few months off-sugar. </p>

              <p>Did I mention that my mom has been visiting, and she has stopped eating it as well for 2 weeks and feels amazing
                too? </p>

              <p>Yay! </p>



              <p>----</p>

              <p><strong>Have you ever tried stopping sugar for a certain amount of time? If so, what did you notice shifting in your body?  </strong></p>


              <br><br><br><br>

              <p><i>Image credit to</i> <a href="http://www.webmd.com/diet/rm-quiz-sugars-sweeteners">webMD</a></p>






            </div>
            <div class="decoration">
              <a href="health-and-wellness-archive.html" class="btn btn-default">Health &amp; Wellness</a>
            </div>
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>

        <div id="disqus_thread"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document,
              s = d.createElement('script');
            s.src = 'https://stephaniemankarios.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



      </div>
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}