{% extends "layout.html" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/4-ways-to-get-out-of-your-head.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Health &amp; Wellness</h6>
              <h1 class="entry-title">4 Ways to Get Out of Your Head</h1>
            </header>
            <div class="entry-content">
              <p></p>

<style>

.entry-content ol li, .entry-content p {
  line-height: 2;
}

.entry-content ol li:last-child {
  margin-bottom: 25px;
}

</style>

<p>We all go through periods of feeling stuck, feeling blocked, feeling depressed, or feeling lost. Sometimes, all those states combine together, which is less than ideal.</p> 
 
<p>The one aspect that all those states have in common, is stagnation. </p>
 
<p>When the energy in our body and our mind is literally stagnant, there is no movement, things are stuck. </p>
 
<p>Different things will work for different people, and at different times, but here are 4 ways you can move from a place of stagnancy to a place of movement. </p>
 
<h4>1. Move through your body  </h4>
 
<p>What do we tend to do when we are feeling down/stuck/blocked? We physically stay in one place. Often, that involves sitting. And when we are sitting, we aren't moving much. We might not even leave the house.</p>  
 
<p>To literally get energy moving through the body, find a way that feels good for you, to move. </p> 
 
<p>Here are some options, all of which don't require any equipment, just your body: </p>
 
<ol>
<li><strong>Do yoga.</strong> Yoga is amazing in that it will not only bring movement into the body, it will bring prana -life force- breath. As you transition between postures, explore the intricacies of the mind. Observe all the thoughts that enter and exit the mind, the same way you would sit on a park bench and observe people walking by.  </li>
 
<li><strong>Go take a walk outside.</strong> Take in the fresh outdoor air, look around you. Again, observe the world. Watch all the people, trees, cars, the sky, the birds, the buildings, the flowers, the gravel. When you walk, you are physically moving yourself forward in space.  </li>
 
<li><strong>Dance!</strong> Yep, dance. "But I don't dance", well there is no right way to dance, friend, so turn on all the lights, crank up some awesome music that makes you feel good inside, close your eyes, and let go. Let your body move, don't think about it. No one is watching, get wild. Have a dance party all.by.yourself.</li>
</ol>

<h4>2. Move through creativity </h4>
 
<p> of the most healing ways to move energy I've found, is through art.</p>  
 
<p>Whether that means that you paint, draw, make jewelry, do graphic design, sculpt, make sand castles, knit, write, the possibilities are endless. They are all <strong>self expression</strong>. Art is movement of energy through the body. It is an expression of what's inside you. So it's a great way to release what is inside you.  </p>
 
<p>They say that a great way to see what's happening in the subconscious mind is to create something with our hands. What is inside will unfold.</p>  
 

<h4>3. Move through words  </h4>
 
<p>When we feel stuck, often the same sentences and thoughts keep circulating in our heads. To stop that cycle, a great solution is to release those words. Let them out. </p>
 
<p>You can release them on paper : simply writing down anything you are feeling and thinking (keeping a daily journal is great therapy by the way). You can write poetry, or a song.  </p>
 
<p>One of the ways I find most helpful is to talk. Sure, you can talk to another person, which can often be really helpful, but when there is no one around, you can record your voice, or film yourself. We all have smartphones nowadays, so we all have the option of simply hitting the record button. </p>
 
<p>Now, you might be thinking this is a bit of a strange thing to do. But, trust me, it feels great. Record yourself as if you were going to send it to a friend. You can then delete it or watch yourself. Often, this offers us a different perspective of ourselves.</p>  
 
<p>Let the stagnation move through the flow of your words. </p>

<h4>4. Go be in nature </h4>
 
<p>According to business insider, here are some benefits associated with spending time in nature: </p>
 
<ol type="a">
  <li>Improved short-term memory </li>
  <li>Restored mental energy </li>
  <li>Stress relief </li>
  <li>Reduced inflammation </li>
  <li>Better vision </li>
  <li>Improved concentration </li>
  <li>Sharper thinking and creativity </li>
  <li>Possible anti-cancer effects </li>
  <li>Immune system boost </li>
  <li>Improved mental health  </li>
  <li>Reduced risk of early death </li>
</ol>

<p>There have been many studies showing that spending time outdoors reduces the effects of anxiety, depression and mood disorders.</p>  
 
<p>I have found that spending time in nature has a naturally calming and soothing effect on my body and mind. I begin to see life with more clarity and nature tends to put things back into perspective.  </p>

<p>----</p>

<p><strong>Do you have a routine that you turn to when you are feeling down or stuck? What do you find most helpful?</strong></p>

<br><br><br><br>

 <p><i>Image credit by <a href="http://www.goliveoriginal.com/true-freedom">Original</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}