{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/are-you-an-empath.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>happiness &amp; love</h6>
              <h1 class="entry-title">Are You An Empath?</h1>
            </header>
            <div class="entry-content">

<p >I recently read an amazing book. In fact, it was probably my favorite book…ever.
<br/>
Yup, ever. That's a strong statement right? But, it helped me feel understood in a way I never have before.
<br/>
It explained 90% of how I am, and I am forever grateful to the author Judith Orloff.</p> 
 
<p>Which book, you ask? <strong>The Empath's Survival Guide</strong>. </p>
 
<p>I would like to share with you the general types of empaths she describes (the following descriptions come straight out of her book):</p>

<p><strong><u>Physical Empaths</u></strong>: You are especially attuned to other people's physical symptoms and tend to absorb them into your body. You can also become energized by someone's sense of well-being. </p>
 
<p><strong><u>Empaths</u></strong>: You mainly pick up other people's emotions and can become a sponge for their feelings, both happy and sad.</p> 
 
<p><strong><u>Intuitive Empaths</u></strong>: You experience extraordinary perceptions such as heightened intuition, telepathy, messages in dreams, animal and plant communication, as well as contact with the Other side. The following includes the different types and how they function:</p>

<ul>     
  <li><strong>Telepathic Empaths</strong> receive intuitive information about others in present time</li>
  <li><strong>Precognitive Empaths</strong> have premonitions about the future while awake or dreaming</li>
  <li><strong>Dream Empaths</strong> are avid dreamers and can receive intuitive information from dreams that helps others and guides them in their own lives</li>
  <li><strong>Mediumship Empaths</strong> can access spirits on the Other side</li>
  <li><strong>Plant Empaths</strong> can feel the needs of plants and connect with their essence</li>
  <li><strong>Earth Empaths</strong> are attuned to changes in our planet, our solar system, and the weather </li>
  <li><strong>Animal Empaths</strong> can tune in to animals and communicate with them</li>
</ul>    
     
<p>After reading these descriptions, I think we can all think of someone in our lives (ourselves or others) who is an empath.</p> 
 
<p>The author is a Psychiatrist and an empath, and her entire practice is based around working with empaths, so her knowledge on the topic is deep.  </p>
     
<p>----</p>

<p><strong>I invite you to read the book, and share your thoughts with me &lt;3</strong></p>


<br><br><br><br>

<p><i>Image credit by <a href="https://www.youtube.com/watch?v=EVqIvlH2KhY">Goddess of Earth, Love and Beauty - She by Peruquois via Youtube</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">June 8, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}