<!-- blog.html -->
{% extends "layout.html" %} 


{% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">




<!-- How to Start a Meditation Practice -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/how-to-start-a-meditation-practice.jpg" alt="">

                        <a href="how-to-start-a-meditation-practice.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="how-to-start-a-meditation-practice.html">How to Start a Meditation Practice</a></h1>
                        </header>
                        <div class="entry-content">

                           <p>People often share with me that they have always wanted to meditate, but they either can't find the time, or don't know where to start.  </p>
 
													<p>I'm here to tell you, that all you need is a couple of minutes a day…and that's it. You don't even need a chair, all you need is yourself! </p>
													
													<p>If you're interested or curious about meditation, then you're already one step closer to actually doing it. </p> 
													
													<p>Start small, with 2 minutes a day. Starting small will help you feel like you're able to do it, and no matter how busy your life is, you can find 2 minutes to close your eyes. Gradually, you can increase to 5 minutes, and then 10. Eventually, once you're in the rhythm of it, and it has become part of your daily routine (just like brushing your teeth), you can block off 20 mins or more for your meditation practice.  </p>
													
													<p>I personally like to do my meditation in the morning. This sets the tone for the rest of my day. But if you don't have time in the morning, any time of day will ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="how-to-start-a-meditation-practice.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">June 29, 2017</span>
                        </div>
                    </div>
                </article>




<!-- Your Life Is Limitless -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/your-life-is-limitless.jpg" alt="">

                        <a href="your-life-is-limitless.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="your-life-is-limitless.html">Your Life Is Limitless</a></h1>
                        </header>
                        <div class="entry-content">

                           <p>What if I told you <strong>there is nothing you cannot be, do, or have?</strong> </p>
 
													<p>Perhaps reading that sentence immediately brings up self-doubt and fear.</p>

													<p>I know how it feels to question that statement, in fact, my brain, and maybe yours too, comes up with hundreds of excuses. But all those are, are limiting beliefs.  </p>
													
													<p>Those limiting beliefs are thoughts, and thoughts can be changed. </p> 
													
													<p style="margin-bottom: 0;">Have you ever asked yourself why you believe your own thoughts? </p> 
													<p>No, but really, what makes them true? The fact that you thought them? The fact that they exist?</p>  
													
													<p>The amazing thing is that our thoughts create our feelings, and our feelings feed into our thoughts. It's a cycle. So, the only way to interrupt that cycle, is to consciously change our thoughts.  </p>
													
													<p>What would happen if you allowed yourself to believe that everything is possible? Even if the world around you doesn't agree, or holds you back, or doesn't have the same drive and desire as you. All that matters is that <strong>YOU</strong> do. </p> 

													<p>Our experiences on a day to day basis and a moment to moment basis, are entirely dependent on our thoughts. If our thoughts are constantly negative, chances are, our experiences will be negative too. </p> 
													
													<p>For example, if one of your belief systems is that everyone is going to take ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="your-life-is-limitless.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">June 22, 2017</span>
                        </div>
                    </div>
                </article>



<!-- Ho'oponopono -->
                <article class="post">
                <div class="post-thumb">
                    <img src="assets/images/blog/ho'oponopono.jpg" alt="">

                    <a href="ho'oponopono.html" class="post-thumb-overlay text-center">
                    <div class="text-uppercase text-center">View Post</div>
                    </a>


                </div>
                <div class="post-content">
                    <header class="entry-header text-center text-uppercase">
                    <h6>Spirituality</h6>

                    <h1 class="entry-title"><a href="ho'oponopono.html">Ho'oponopono</a></h1>
                    </header>
                    <div class="entry-content">

                    <p>I taught a meditation class this week around the practice of this Hawaiian form of reconciliation and forgiveness,
                        so I thought I would share it with you because it has become one of my favorite meditations. </p>

                    <p>Similarly to how you would repeat a mantra (a word, sound, or statement repeated to aid concentration) over and over
                        again during a meditation, the Ho'oponopono practice is the repetition of the following: </p>

                    <p style="margin-bottom: 5px;"><strong>"I'm sorry</strong> </p>
                    <p style="margin-bottom: 5px;"><strong>Please forgive me,</strong> </p>
                    <p style="margin-bottom: 5px;"><strong>Thank you,</strong> </p>
                    <p><strong>I love you".</strong> </p>

                    <p>With each of the 4 phrases, allow yourself to pause, and feel the words. Different thoughts or feelings might come
                        up, allow them to arise. Let yourself feel. </p>
                    <p>It's a healing practice, and each time you ... </p>

                    <div class="btn-continue-reading text-center text-uppercase">
                        <a href="ho'oponopono.html" class="more-link">Continue Reading</a>
                    </div>
                    </div>
                    <div class="social-share">
                    <span class="social-share-title pull-left text-capitalize">June 15, 2017</span>
                    </div>
                </div>
                </article>







<!-- Are You An Empath? -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/are-you-an-empath.jpg" alt="">

                        <a href="are-you-an-empath.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>happiness &amp; love</h6>

                            <h1 class="entry-title"><a href="are-you-an-empath.html">Are You An Empath?</a></h1>
                        </header>
                        <div class="entry-content">

                            <p >I recently read an amazing book. In fact, it was probably my favorite book…ever.
                            <br/>
                            Yup, ever. That's a strong statement right? But, it helped me feel understood in a way I never have before.
                            <br/>
                            It explained 90% of how I am, and I am forever grateful to the author Judith Orloff.</p> 
                            
                            <p>Which book, you ask? <strong>The Empath's Survival Guide</strong>. </p>
                            
                            <p>I would like to share with you the general types of empaths she describes (the following descriptions come straight out of her book):</p>

                            <p><strong><u>Physical Empaths</u></strong>: You are especially attuned to other people's physical symptoms and tend to absorb them into your body. You can also become energized by someone's sense of well-being. </p>
                            
                            <p><strong><u>Empaths</u></strong>: You mainly pick up other people's emotions and can become a sponge for their feelings, both ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="are-you-an-empath.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">June 8, 2017</span>
                        </div>
                    </div>
                </article>








<!-- I Was Scared Shitless Of Meditation -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/i-was-scared-shitless-of-meditation.jpg" alt="">

                        <a href="i-was-scared-shitless-of-meditation.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="i-was-scared-shitless-of-meditation.html">I Was Scared Shitless Of Meditation</a></h1>
                        </header>
                        <div class="entry-content">

                          <p>I want to tell you the story of how scary meditation was for me, for the longest time.  </p>
 
                        <p>I believe that it can be intimidating for most people, especially without any guidance. </p>
                        
                        <p>But first, let me share with you the story of how I rejected Yoga many years ago, and how it has now transformed my life. </p>
                        
                        <p>When I was a young girl, I remember waking up on the weekend and seeing my mom do all kinds of fitness activities in the living room. Sometimes, this involved yoga.  </p>
                        
                        <p>I was never really curious about it, but then, around the age of 9 or 10, I went along with her to a class at a community center near our house.  </p>
                        
                        <p>I.hated.it. </p>
                        
                        <p>I tried it again a few years later…still a no-go. </p>
                        
                        <p>And again in my late teenage years, still hated it. </p>
                        
                        <p>Yes, hate is a very strong word. And that's what I felt at the time. I didn't understand it then, but the practice was forcing me to be present in my body, and I was absolutely not ready for that.  I even remember spending the whole class looking ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="i-was-scared-shitless-of-meditation.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 25, 2017</span>
                        </div>
                    </div>
                </article>




<!-- What 3 Beautiful Days at Shakti Fest Were Like -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/shakti-fest.jpg" alt="">

                        <a href="what-3-beautiful-days-at-shakti-fest-were-like.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="what-3-beautiful-days-at-shakti-fest-were-like">What 3 Beautiful Days at Shakti Fest Were Like</a></h1>
                        </header>
                        <div class="entry-content">

                          <p style="margin-bottom: 2rem;">One of the most famous Yoga, dance and music festivals is Shakti Fest, held in Joshua Tree, southern California. </p>
 
                            <p style="margin-bottom: 2rem;">It was my first time attending this type of event, and it was one of the best 3 days of my life.  </p>
                            
                            <p style="margin-bottom: 2rem;">Before I dive into the beautiful details, I thought I'd share what Shakti means. According to Wikipedia: <strong>Shakti</strong>, meaning power or empowerment, is the primordial cosmic energy and represents the dynamic forces that are thought to move through the entire universe. <strong>Shakti</strong> is the concept of <strong>divine feminine</strong> creative power, sometimes referred to as 'The Great Divine Mother'. </p>
                            
                            <p style="margin-bottom: 2rem;">Ironically this year, the festival landed on Mother's day. </p>

                            <p style="margin-bottom: 2rem;">As soon as we arrived (it was about an 8 hour -gorgeous- drive from Silicon Valley), I cried. Nothing had even happened yet, but the sight ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="what-3-beautiful-days-at-shakti-fest-were-like.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 18, 2017</span>
                        </div>
                    </div>
                </article>




<!-- Why It's Important To Feel Your Emotions Fully -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/important-emotions-fully.jpg" alt="">

                        <a href="why-its-important-to-feel-your-emotions-fully.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="why-its-important-to-feel-your-emotions-fully.html">Why It's Important To Feel Your Emotions Fully</a></h1>
                        </header>
                        <div class="entry-content">

                          <p>One of the most common difficulties I see in people is the fear to FEEL. </p>

                            <p>As a culture, it seems we are becoming more in touch with our logic/rational selves and pushing away, even rejecting our emotional selves.  </p>

                            <p>The thing is, it's hurting us. The one thing I get asked the most often is "please help me feel again".  </p>
                            
                            <p>My entire approach to teaching Yoga is about staying present with the feelings and sensations that arise within us as we move or stay still within the asanas (postures). </p>

                            <p>The interesting thing is, we store all of our experiences in our body, and if we never learn to release them, they stay stuck. Then, we develop dis-ease, aches, pains, and injuries worsen or continue to reoccur. The link between the body and the mind is</p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="4-ways-to-get-out-of-your-head.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 11, 2017</span>
                        </div>
                    </div>
                </article>








<!-- 4 Ways to Get Out of Your Head -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/4-ways-to-get-out-of-your-head.jpg" alt="">

                        <a href="4-ways-to-get-out-of-your-head.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="4-ways-to-get-out-of-your-head.html">4 ways to get out of your head</a></h1>
                        </header>
                        <div class="entry-content">

                           <p>We all go through periods of feeling stuck, feeling blocked, feeling depressed, or feeling lost. Sometimes, all those states combine together, which is less than ideal.</p> 
 
                            <p>The one aspect that all those states have in common, is stagnation. </p>
                            
                            <p>When the energy in our body and our mind is literally stagnant, there is no movement, things are stuck. </p>
                            
                            <p>Different things will work for different people, and at different times, but here are 4 ways you can move from a place of stagnancy to a place of movement. </p>
                            
                            <h4>1. Move through your body  </h4>
                            
                            <p>What do we tend to do when we are feeling down/stuck/blocked? We physically stay in one place. Often, that involves sitting. And when we are sitting, we aren't moving much. We might not even leave the house.</p>  
                            
                            <p>To literally get energy moving through the body, find a way that feels ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="4-ways-to-get-out-of-your-head.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 4, 2017</span>
                        </div>
                    </div>
                </article>





            <!-- Creativity is An Orgasm for the Body -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/creativity.jpg" alt="">

                        <a href="creativity-is-an-orgasm-for-the-body.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="creativity-is-an-orgasm-for-the-body.html">creativity is an orgasm for the body</a></h1>
                        </header>
                        <div class="entry-content">

                            <p>Let's break away from the mind for a moment. </p>

                            <p>Try to remember the last time you did something creative. How did it feel? </p>

                            <p>Absolutely, genuinely, deeply <strong>yummy</strong> you say? I agree! </p>

                            <p>Some of us humans spend WAY too much time rationalizing, thinking, understanding and making logic out of everything
                                that occurs in our day. Everything we see, feel, touch, taste, smell, becomes a mental process. </p>

                            <p>Have we begun to completely disconnect from our creative nature? </p>

                            <p>We are all born perfect. <strong>You, still are perfect</strong>. You've only (maybe) forgotten. </p>

                            <p>And as a kid, you sang, danced, drew, moved, cried, smiled, laughed, ran naked, and most likely did all those
                                things passionately. </p>

                            <p>Then you started to grow up, and perhaps the adults around you didn't encourage your ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="creativity-is-an-orgasm-for-the-body.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 27, 2017</span>
                        </div>
                    </div>
                </article>





                <!-- 30 Days Without Sugar -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/30-days-without-sugar.jpg" alt=""></a>

                        <a href="30-days-without-sugar.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="30-days-without-sugar.html">How 30 Days Without Sugar Has Positively Shifted My Life!</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>


              <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>


              <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything),right?</p>


              <p>Well friend, here is my story: </p>

              <p>I recently started working with a Functional Health Practitioner (best decision I ever made btw, and after running some tests, we uncovered that my gut is…in the least scary terms possible, not in such good shape</p>

              <p>I have 2 things: </p>

              <ul>
                <li>A parasite called Blastocystis hominis (yuck, right?). According to Wikipedia, it is one of the most common
                  human parasites in the world, and is THE most common parasitic infection in the United States. </li>

                <li>Candida Albicans, which is a fungus, is detectable in the gastrointestinal tract in 40% of healthy adults,
                  according to wikipedia. </li>
              </ul>

              <p>Yup, scary, I know.</p>

              <p><strong>The good news is</strong>, I can get rid of these by ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="30-days-without-sugar.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
                        </div>
                    </div>
                </article>





            <!-- You Have 36 525 Days To Live -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/days-to-live.jpg" alt="">

                        <a href="you-have-36-525-days-to-live.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="you-have-36-525-days-to-live.html">You have 36 525 days to live</a></h1>
                        </header>
                        <div class="entry-content">
                            	<p>In my early twenties, I attended Toast Masters (an international organization aimed at helping people develop their communication and leadership skills), where I met a great friend. </p> 
            
            
            <p>This friend always had a lesson for me: <strong>LIVE LIFE TO THE FULLEST.</strong> </p>
            
            
            <p>He used to tell me "If you live to be 100 years old, that means that you will have 36 525 days to live on this earth." </p>
            
            <p>That doesn't seem like much right?  </p>
            
            <p>According to statista, the average life expectancy in North America is 77 years for males, and 81 years for females.  </p>
            
            <p>That's only 28 124 days for men, and 29 585 days for women.  </p>
            
            <p>What is the point of knowing this? Well friend, I want to enthusiastically encourage you to live your life with MEANING. </p>
            
            <p>Life is too short to be doing anything other than ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="you-have-36-525-days-to-live.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 13, 2017</span>
                        </div>
                    </div>
                </article>





<!-- 3 Reasons Why Everybody Needs A Therapist -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/therapist.jpg" alt="">

                        <a href="3-reasons-why-everyone-needs-a-therapist.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="3-reasons-why-everyone-needs-a-therapist.html">3 Reasons Why Everybody Needs A Therapist</a></h1>
                        </header>
                        <div class="entry-content">
                           <p>For a long time, there was a stigma around therapy. I even noticed this when recently watching an episode of  Gilmore Girls (yes you can laugh at me:), where Lorelai said "A therapist? Why, have you gone crazy?" </p>
 
<p>There was this idea that you either needed to be "crazy" to see a therapist, or something really bad had to happen to you. </p> 
 
<p>The truth is, everyone can benefit from therapy. </p> 
 
<p>And here are 3 reasons why: </p>
 
<p><strong>1. We all need help to dig deeper </strong></p>
 
<p>Let's face it, as much as some of us have really close people with whom we can share everything with, you can only go so far with a friend or family member.  </p>
 
<p>Of course, we all have that one caring person in our lives that would listen to us until the world ended, but the truth is, without proper training, no one can REALLY help us the way someone with a trained background can. </p>
 
<p>Seeing a therapist, coach, psychologist, counselor or psychiatrist can really be beneficial in order to ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="3-reasons-why-everyone-needs-a-therapist.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 6, 2017</span>
                        </div>
                    </div>
                </article>




            <!-- Coconut Milk Bath -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/coconut-milk.jpg" alt="">

                        <a href="coconut-milk.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="coconut-milk.html">How to take a Coconut milk bath &amp; Why it's good for you</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've
                come to the right place.</p>
              <p>If you're like most people, your body could really use some TLC, am I right?  Perhaps you: work too much, have
                kids, don't take the time to take care of yourself, or don't know how to.</p>
              <p>I'm here to share with you an exquisite bath recipe that will leave you feeling like a brand new Goddess (or God, and men, I do encourage you to do this too!)</p>
              <p> I will share with you all the ingredients involved in making this the best experience possible, but feel free to modify and add or remove aspects according to your needs and what YOUR body craves.</p>
              <p> I like to take these baths once a week, but if you do them more often, then honey, by all means, indulge!
              </p>
              <p><strong>1. What to put in the bath</strong></p>
              <p> A)
                <strong>Epsom salts</strong> – eases stress, relaxes the body, relieves pain and muscle cramps,   relieves
                constipation, eliminates toxins from the body, helps prevent ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="coconut-milk.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 30, 2017</span>
                        </div>
                    </div>
                </article>




            <!-- Morning Ritual -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/morning-ritual.jpg" alt="">

                        <a href="morning-ritual.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="morning-ritual.html">HOW TO CREATE A MORNING RITUAL AND WHY IT WILL CHANGE YOUR LIFE</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>Most of us wake up in the morning feeling like we just got run over by a Tyrannosaurus Rex, crusty eyes, pasty mouths, crispy bodies, with some vague memory of who we are, what year it is,  wondering why we just got interrupted from being in some other dimension of reality.</p>  
 
                            <p>Then we; roll out of bed until we hit the floor, walk blindly to the bathroom to pee, make our way to the kitchen for some liquid caffeine to jolt us back into awareness, and possibly eat some breakfast.  </p>
                             
                            <p>Some of us shower and brush our teeth, hopefully get dressed, and make our way out the door to start our day. </p> 
                             
                            <p>Well my friends, I'm here to tell you...drumroll, are you ready? There's another way to start your day. </p> 
                             
                            <p>One that will leave you feeling <strong>fresh, awake, invigorated, energized, and centered</strong>.</p>  
                             
                            <p>Yup, even at 5 in the morning. </p> 
                             
                            <p>The answer: <strong>Create a morning ritual</strong>.</p> 

                            <p>Many people that you and I know have a morning ritual: Barack Obama and Tony Robbins just to name a few...Deepak Chopra meditates every morning from 4am to 6am.  
                             
                            <p>The key is to customize your morning ritual according to ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="morning-ritual.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 23, 2017</span>
                        </div>
                    </div>
                </article>

                <ul class="pagination">
                    <li class="active"><a href="/blog.html">1</a></li>
                    <li><a href="/blog-2.html">2</a></li>
                    <!--<li><a href="index.html#">3</a></li>-->
                    <!--<li><a href="index.html#">4</a></li>-->
                    <li><a href="index.html#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>



      {% include "partials/sidebar.html" %}

        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}