<!-- standard-list-blog.njk -->
{% extends "layout.njk" %} 


{% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">


                <!-- 30 Days Without Sugar -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="30-days-without-sugar.html"><img src="assets/images/blog/30-days-without-sugar.jpg" alt=""></a>

                        <a href="30-days-without-sugar.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="30-days-without-sugar.html">How 30 Days Without Sugar Has Positively Shifted My Life!</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>
                            <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>
                            <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything), right?</p>
                            <p>Well friend, here is my story: </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="30-days-without-sugar.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
                        </div>
                    </div>
                </article>





            <!-- You Have 36 525 Days To Live -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="you-have-36-525-days-to-live.html"><img src="assets/images/blog/days-to-live.jpg" alt=""></a>

                        <a href="you-have-36-525-days-to-live.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="you-have-36-525-days-to-live.html">How 30 Days Without Sugar Has Positively Shifted My Life!</a></h1>
                        </header>
                        <div class="entry-content">
                            	<p>In my early twenties, I attended Toast Masters (an international organization aimed at helping people develop their communication and leadership skills), where I met a great friend. </p> 
                                <p>This friend always had a lesson for me: <strong>LIVE LIFE TO THE FULLEST.</strong> </p>
                                <p>He used to tell me "If you live to be 100 years old, that means ...</p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="you-have-36-525-days-to-live.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 13, 2017</span>
                        </div>
                    </div>
                </article>





<!-- 3 Reasons Why Everybody Needs A Therapist -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="3-reasons-why-everyone-needs-a-therapist.html"><img src="assets/images/blog/therapist.jpg" alt=""></a>

                        <a href="3-reasons-why-everyone-needs-a-therapist.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="3-reasons-why-everyone-needs-a-therapist.html">3 Reasons Why Everybody Needs A Therapist</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>For a long time, there was a stigma around therapy. I even noticed this when recently watching an episode of  Gilmore Girls (yes you can laugh at me:), where Lorelai said "A therapist? Why, have you gone crazy?" </p>
 
								<p>There was this idea that you either needed to be "crazy" to see a therapist, or ... </p> 

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="3-reasons-why-everyone-needs-a-therapist.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 6, 2017</span>
                        </div>
                    </div>
                </article>




            <!-- Coconut Milk Bath -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="coconut-milk.html"><img src="assets/images/blog/coconut-milk.jpg" alt=""></a>

                        <a href="coconut-milk.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="coconut-milk.html">How to take a Coconut milk bath &amp; Why it's good for you</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've come to the right place.</p>

									<p>If you're like most people, your body could really use some TLC, am I right?  Perhaps you: work too much, have kids, don't take the ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="coconut-milk.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 30, 2017</span>
                        </div>
                    </div>
                </article>




            <!-- Morning Ritual -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="morning-ritual.html"><img src="assets/images/blog/morning-ritual.jpg" alt=""></a>

                        <a href="morning-ritual.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="morning-ritual.html">HOW TO CREATE A MORNING RITUAL AND WHY IT WILL CHANGE YOUR LIFE</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>
                            <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>
                            <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything), right?</p>
                            <p>Well friend, here is my story: </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="morning-ritual.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
                        </div>
                    </div>
                </article>




            <!-- Creating Change -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="creating-change.html"><img src="assets/images/blog/creating-change.jpg" alt=""></a>

                        <a href="creating-change.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="creating-change.html">HOW TO CREATE CHANGE &amp; WHAT HOLDS US BACK</a></h1>
                        </header>
                        <div class="entry-content">
                           <p>You <i>know</i> that <u>feeling</u> you get when you want to make a change in your life but something feels like its blocking you?</p>

                            <p>Maybe it's a change in lifestyle, a change in how you do certain things or a change in the way you think. Perhaps you've adopted a new way of thinking but your actions don't quite match your thoughts yet.</p>

                            <p>Regardless of the reason or nature of the change, we all know the feeling of wanting to change something in our lives and never getting around to it or feeling unable to do it.</p>

                            <p>Before we get right into it, let's explore the idea that there are 3 kinds of people when it comes to change:</p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="creating-change.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
                        </div>
                    </div>
                </article>




<!-- Welcome To My Blog -->
                <article class="post">
                    <div class="post-thumb">
                        <a href="welcome-to-my-blog.html"><img src="assets/images/blog/welcome-to-my-blog.jpg" alt=""></a>

                        <a href="welcome-to-my-blog.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="welcome-to-my-blog.html">welcome to my blog!</a></h1>
                        </header>
                        <div class="entry-content">
                           <h4>Hi friend, welcome to my blog!</h4>
							<p>I am so excited to be able to share things with you here.</p>
							<p>This is a sacred space where you can share and comment in the sections below the posts.</p>
							<p>I have so much information to share, but if you wish to read about a specific topic, please feel free to send me a note and I'll see what I can do. </p>
							<p>What you can expect: </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="welcome-to-my-blog.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                        </div>
                    </div>
                </article>


                <!--<ul class="pagination">
                    <li class="active"><a href="index.html#">1</a></li>
                    <li><a href="index.html#">2</a></li>
                    <li><a href="index.html#">3</a></li>
                    <li><a href="index.html#">4</a></li>
                    <li><a href="index.html#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div>



      {% include "partials/sidebar.njk" %}

        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}