<!-- coconutmilk.html -->
{% extends "layout.html" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/coconut-milk.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6> Health &amp; Wellness</h6>
              <h1 class="entry-title">How to take a Coconut milk bath &amp; Why it's good for you</h1>
            </header>
            <div class="entry-content">
              <p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've
                come to the right place.</p>
              <p>If you're like most people, your body could really use some TLC, am I right?  Perhaps you: work too much, have
                kids, don't take the time to take care of yourself, or don't know how to.</p>
              <p>I'm here to share with you an exquisite bath recipe that will leave you feeling like a brand new Goddess (or God, and men, I do encourage you to do this too!)</p>
              <p> I will share with you all the ingredients involved in making this the best experience possible, but feel free to modify and add or remove aspects according to your needs and what YOUR body craves.</p>
              <p> I like to take these baths once a week, but if you do them more often, then honey, by all means, indulge!
              </p>
              <p><strong>1. What to put in the bath</strong></p>
              <p> A)
                <strong>Epsom salts</strong> – eases stress, relaxes the body, relieves pain and muscle cramps,   relieves
                constipation, eliminates toxins from the body, helps prevent hardening of arteries and blood clots, and helps
                muscles and nerves function properly.</p>
              <p> B)
                <strong>Coconut milk</strong> (preferably organic) - acts as a moisturizer, helps treat sunburns, has anti-ageing
                benefits, helps with skin conditions such as psoriasis &amp; eczema, prevents acne, restores dry/damaged
                hair, promotes hair growth and conditions hair. (So make sure you get that good stuff all over yourself).</p>
              <p> C)
                <strong>Essential Oils</strong> – You can pick and choose depending on your needs, but my go to is Lavender
                oil because of it's multipurpose benefits.</p>
              <p> D)
                <strong>Tea</strong> (yup, in the water! Although make sure you use tea bags...I got too excited and  made
                the itsy bitsy mistake of freely throwing loose tea in, and it clogged our drain) I like to use organic Green
                Tea and Chamomile.</p>
              <p> Here are some specifics (for tea &amp; herbs) according to Dr. Alexa Fleckenstein:</p>

              <ul>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Chamomile: relieves pain and provides relief from insect bites</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Dandelion flower: renews the skin and helps with seasonal affective order</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Eucalyptus: opens your lungs and helps you breathe</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Grated Ginger: enhances blood flow to all parts of your body</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Hops: relieves insomnia and leaves you sleepy</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Jasmine: enhances your mood and refreshes your skin</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Lavender: calms your nerves and rejuvenates your skin</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Linden flower: aids in relaxation and could prevent a cold</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Meadowsweet: relieves sore muscles and improves your mood</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Mint: stimulates and heals your skin</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Orange blossoms: aids in relaxation and lowers blood pressure</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Parsley: heals bruises</li>
              <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Rose petals: relaxes your body and refreshes your skin</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Rosemary: promotes relaxation</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Stinging Nettle: promotes circulation and heals aching joints</span></li>
                <li> <i class="fa fa-leaf" aria-hidden="true"></i>
                  <span>Sage: prevents stiffness and soreness in muscles after a workout</span></li>
              </ul>

              <p>E) <strong>Flowers or flower petals</strong> – I mean, who doesn't want to take a bath in rose petals?</p>
              <p><strong>Hot water</strong></p>
              <p><strong>2. Setting the mood so the experience is relaxing </strong></p>
              <p>A) Turn off the lights
                <p>B) Light some candles
                  <p>C) Put on soft music (this really helps)
                    <p>D) Let go of your phone (it's not time to scroll through IG or FB), ya know?
                      <p>E) Look at your body as it floats or sinks in the water, watch it move, feel it move. Experience yourself.
                        This is YOU time. And as you look at your body, give it love. Only positive thoughts and feelings,
                        try to let go of any negativity that may come up concerning how you look.
                        <p> F) Experience your breath. Deep belly breaths. Watch your beautiful belly rise and fall. You can
                          inhale through your nose, and exhale through your nose. Soften your face, let your shoulders melt
                          down. Feel that in this very moment, all is well.</p>
                        <p><strong>3. How to do this when you're busy and have little time to yourself </strong></p>
                        <p>A) Write it down on your calendar, so it's scheduled in. Make it an appointment. If it was the dentist,
                          you would make time to go, right? Treat it the same way, except it's a little more exciting...I
                          hope.
                          <p> Because it will be scheduled in, you know it will get done, and you will have something to look
                            forward to. Writing things down helps us to make things more concrete. If it remains a desire,
                            and it's just sitting there in our head, we are much less likely to turn it into action.</p>
                          <p>B) Explain to your partner or your kids (unless you live alone, then you can tell your dog) that
                            you need some YOU time, that it's going to be 30 minutes or 1 hour of time where you need to
                            be alone, and once that time is done then they can have complete access to you again. Often,
                            explaining things to people (even though it may seem really simple), really helps them understand
                            you better and respect this time (and they will be less likely to bother you).</p>
                          <p><strong>4. A few little extra notes :) </strong></p>
                          <p>A) As a semi-general rule, if something is healthy to ingest, it's healthy for your skin and hair.
                            Our skin is the largest organ of our body, so the surface of absorption is very large. What ever
                            you put in your bath, be sure that you are happy with it being absorbed into your skin.</p>
                          <p>B) Get all that good stuff on your face, and if you feel up to it, in your hair too!</p>
                          <p>C) Don't rinse after.</p>
                          <p>D) Repeat regularly!</p>
                          <p>
                            <strong>Enjoy, and please feel free to share your experience, I'd love to hear it!</strong>
                          </p>
                          <strong>… </strong>
                          <p>
                            <strong>Have you taken any unforgettable baths lately? What was it like? Share your own little tips in the comments below :)</strong></p>
            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Health &amp; Wellness</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">March 30, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
      
      <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
      
      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}