{% extends "layout.html" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/creating-change.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Self Development</h6>
              <h1 class="entry-title">How to create change &amp; what holds us back</h1>
            </header>
            <div class="entry-content">
              <p></p>



<p>You <i>know</i> that <u>feeling</u> you get when you want to make a change in your life but something feels like its blocking you?</p>

<p>Maybe it's a change in lifestyle, a change in how you do certain things or a change in the way you think. Perhaps you've adopted a new way of thinking but your actions don't quite match your thoughts yet.</p>

<p>Regardless of the reason or nature of the change, we all know the feeling of wanting to change something in our lives and never getting around to it or feeling unable to do it.</p>

<p>Before we get right into it, let's explore the idea that there are 3 kinds of people when it comes to change:</p>
<ul>
<li><i class="fa fa-heart" aria-hidden="true"></i>
<span>Those who don't want to change and never change</span></li>
<li><i class="fa fa-heart" aria-hidden="true"></i>
<span>Those who look for change but don't change</span></li>
<li><i class="fa fa-heart" aria-hidden="true"></i>
<span>Those who want to change and do it</span></li>
</ul>

<p>Let's take reading self-help books for the sake of this example.<p>
 
<p>Some people have no interest in these books because the thought of learning something new about themselves/humans/psychology sounds about as exciting as waiting for water to boil. In THIS example, these people fall into the first category (those who don't want to change and never change). And that's totally ok.</p>
 
<p>Other people will buy books from this section. Some will read the books and some won't (even after purchasing them). The desire to change is there, but the change never really happens. Perhaps they read the book, but they never take any action to change even after reading it.</p>

<p>Then there are the people who buy the books, read the books, and create change.</p>
 
<p>(please note that the first group of people might create change in some other area of their life, but in order to understand this specific example regarding self-help books, they do not).</p>
 
<p>Let's now look at how to create the change using the example of wanting to have more boundaries in your life.</p>

<h4>1. Desire</h4>
 
<p>The very first step in creating change is having the <strong>desire</strong> to change.  </p>
 
<p>Using our example: If I need to have more boundaries with people in my life, I first need to <strong>want</strong> to create boundaries.</p> 
 
<h4>2. Intention </h4>
 
<p>The next step is to set the intention that you will do it. If not, it will remain a desire and will never turn into a concrete plan. We all want things, but what makes them happen is the fact that we set the intention to create them.  </p>
 
<p>Using our example: Now that I want to create boundaries, I need to set the <strong>intention</strong> to say no when someone is crossing a line I'm not comfortable with them crossing.  </p>
 
<h4>3. Visualization </h4>
 
<p>One of the most important steps in getting ANYTHING we want in life, is <strong>visualizing</strong> it. Research shows that when we visualize something, we activate the same parts of the brain that actually does it. </p> 
 
<p>Using our example: Now that I've set the intention to change, I must <strong>visualize</strong> myself doing it. In this case, I visualize myself saying no next time someone asks me to do something I don't want to do.  </p>

<h4>4. Write it down  </h4>
 
<p><strong>Writing things down</strong> holds us accountable. It also helps to make things more concrete. If it's on paper, it's for real. The best place to write it down is in your calendar or agenda. This way, when it's done each day, you can cross it off. This is especially effective when the thing you are trying to change is a physical action (like wanting to add a meditation practice to your daily life for example ).  </p>
 
<p>Using our example: Now that I've committed to creating this change, I am going to write it down in my daily planner as a reminder everyday. Then when I've done it, I can highlight it or cross it off and feel that added sense of accomplishment that I am right on track with creating change.  </p>
 
<h4>5. Have a plan  </h4>
 
<p><strong>Have a plan</strong> for what you are going to do when you don't feel like sticking to the change. For when the going gets tough or you get lazy. Let's be real, that moment comes for <u>all of us</u>. Write down how you will cope and what you will do to make sure that you will keep going and won't give up. </p>
  
<p>Using our example: I will set boundaries with everyone around me, but when it's someone really close to me and I start to feel guilty about saying no, I will remind myself that I must not feel guilty about taking care of myself and respecting my own limits. I will also remind myself that if this person gets mad at me for setting boundaries I will remember that it has nothing to do with me, that this person has their own issues with boundaries and it does not concern me.  </p>

<h4>6. Replace "I should" with "I could" </h4>
 
<p>As Tony Robbins calls it, stop "shoulding" all over your self.  
One of the things I ask my clients to do is to write a list of all the things they believe they "should" be doing. Then I ask them to write that list again, this time starting each sentence with "If I really wanted to, I could…" 
Just this simple change creates a whole new relationship with the things people want to create change with. Suddenly, they are not wrong or guilty for not doing things, but rather involved in the decision making of the change they want to create.  </p>

<h3>Reasons why we don't create change: </h3>

<h4>1. It's scary  </h4>
 
<p>For a lot of us, what we don't know tends to scare us. So, if we've never been a certain way or done a certain thing, it can be scary. 
 
<h4>2. We are comfortable, and don't wanna get "uncomfortable" </h4>
 
<p>We all have a comfort zone, and I don't mean that cuddly place in your bed, I mean that place in your head where your ego is happy holding on to the way it has been for a long, long time. Changing something in your life might mean getting uncomfortable, especially when something is a habit, it's pretty damn uncomfortable to change. </p>
 
<p>Using our example: If you've never had boundaries, suddenly saying NO will be quite uncomfortable.  </p>
 
<h4>3. We have a fear of the unknown </h4>
 
<p>What will happen now if I change the way I think, speak, act, react, behave?  </p>
 
<p>We know the consequences of our actions, or inactions the way they have always been, but now there will be an unknown consequence.  </p>
 
<p>I've always been at the beck and call of every friend and family member who has ever needed me, and their reaction is to be happy when I'm there for them, what will their reaction now be when I'm not there for them? What will their reaction be if I say "No, I'm sorry, I'm tired and need to be home and take a bath and be with myself."? </p>

<h4>4. There's a pain associated with changing (but there's also a pain associated with not changing) </h4>
 
<p>Change creates change. Anything new or different creates new reactions, new thoughts, new consequences, new everything. Sometimes the change can create an initial pain. </p> 
 
<p>If I've always said <strong>yes</strong> to my friends, and now I say <strong>no</strong>, some of my friends might not want to have me in their life anymore. <br>
 Although this will be extremely painful at first, you must realize that it was really for the best that this friend decided not to be in your life anymore.  <br>
Anyone who truly cares about you and your well-being will be supportive of the changes you make in your life (if the changes really do benefit and help you). <br>
 If someone gets angry at you for having boundaries, do you really want them in your life anyway? </p>

<h4>5. Fear of loss of identity </h4>
 
<p>This often happens quite unconsciously. If I change, then who am I ?  </p>
 
<p>If I was always the person who said yes to everyone all the time, and now I say no, then who am I? </p>
 If I have always been the friend who is there no matter what, the one everyone can count on, and I'm attached to that part of my identity, and now my behaviour changes, then who am I? </p>
 
<h4>6. Fear of loss of acceptance  </h4>
 
<p>This is such a huge one. We generally feel a certain sense of acceptance from the people we hang around with. 
 And we might feel that these people accept us because we abide by the rules of our relationship together, or because we share common values, feelings or views.  </p>
 
<p>Now, if we change something about ourselves, this might change the whole equation. It is natural that it will create a fear that people might reject us, not accept us, not love us.  </p>


<h3>A few last helpful tools :  </h3>
 
<p>Write down what's blocking you. </p>
 
<p>Don't even think about it, take a pen and paper, and just start writing about the subject, and things will come out. Things </p>you didn't even know were there. 
 
<p>If you feel 100% comfortable with someone you can do this with them verbally. Whether you do it alone or with another person,allow yourself to let go of the fear of judgement of what will come out. Often things that block us are not logical, but they are emotional, and we need to allow ourselves to express them and feel them if we want them to release their hold on us. </p> 
 
<p>Write down <strong>why</strong> you want to change the thing you want to change. </p>

<p>How do you think it will feel once the change is made? Write down all those feelings. </p>

<p>And begin to visualize yourself already changed. What does your life look like on the other side of this change? </p>
 
<p><strong>Have you made any difficult changes lately? What helped you persevere ? </strong></p>

<p><strong>...</strong></p>

<br><br><br><br>

<p><i>Image credit to <a href="https://www.flickr.com/photos/37724850@N06/3469932939/"target="_blank">mferrell24 via Flickr</a></i></p>






            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}