<!-- welcome-to-my-blog.njk -->
{% extends "layout.njk" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <a href="blog.html"><img src="assets/images/blog/creating-change.jpg" alt=""></a>
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6><a href="blog.html#">Spirituality</a></h6>
              <h1 class="entry-title"><a href="blog.html">How to create change &amp; what holds us back </a></h1>
            </header>
            <div class="entry-content">
              <p></p>



<p>You know that feeling you get when you want to make a change in your life but something feels like its blocking you? </p>

<p>Maybe it's a change in lifestyle, a change in how you do certain things or a change in the way you think. Perhaps you've adopted a new way of thinking but your actions don't quite match your thoughts yet. </p>

<p>Regardless of the reason or nature of the change, we all know the feeling of wanting to change something in our lives and never getting around to it or feeling unable to do it. </p>

<p>Before we get right into it, let's explore the idea that there are 3 kinds of people when it comes to change: </p>
<ul>
<li>Those who don't want to change and never change</li>
<li>Those who look for change but don't change</li>
<li>Those who want to change and do it</li>
</ul>

<p>Let's take reading self-help (I really dislike this term, but for the purpose of understanding…) as an example.</p>

 <p>Some people have no interest in these books because the thought of learning something new about themselves/humans/psychology, etc sounds about as exciting as waiting for water to boil. In THIS example, these people fall into the first category (those who don't want to change and never change).</p> 

<p>Other people will buy books from this section. Some will read the books and some won't (even after purchasing them). The desire to change is there, but the change never really happens. Perhaps they read the book, but they never make any effort to change even after reading it. </p>

<p>Then there are the people who buy the books, read the books, and create change. </p>

<p>(please note that the first group of people might change in some other area of their life, but for the purpose of this example, I was just creating a scenario of a specific type).</p>

<p>Let's now look at how to create the change using the example of wanting to have more boundaries in your life.</p>

	<h3>1. Desire</h3>

<p>The very first step in creating change is having the desire to change. 
Using our example: If I need to have more boundaries with people in my life, I first need to want to create boundaries.

	<h3>2. Intention </h3>
	
<p>The next step is to set the intention that you will do it. If not, it will remain a <strong>desire</strong> and will never turn into a concrete plan. We all want things, but what makes them happen is the fact that we set the intention to create them. </p>
<p>Using our example: Now that I want to create boundaries, I need to set the <strong>intention</strong> to say no when someone is crossing a line I'm not comfortable with them crossing. <p>









            </div>
            <div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">By Steph On February 3, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
        {% include "partials/blog-comments.njk" %}
      </div>
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}