<!-- creativity-is-an-orgasm-for-the-body.html-->
{% extends "layout.html" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/creativity.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Happiness &amp; Love</h6>
              <h1 class="entry-title">creativity is an orgasm for the body</h1>
            </header>
            <div class="entry-content">
              <p></p>

              <p>Let's break away from the mind for a moment. </p>

              <p>Try to remember the last time you did something creative. How did it feel? </p>

              <p>Absolutely, genuinely, deeply <strong>yummy</strong> you say? I agree! </p>

              <p>Some of us humans spend WAY too much time rationalizing, thinking, understanding and making logic out of everything
                that occurs in our day. Everything we see, feel, touch, taste, smell, becomes a mental process. </p>

              <p>Have we begun to completely disconnect from our creative nature? </p>

              <p>We are all born perfect. <strong>You, still are perfect</strong>. You've only (maybe) forgotten. </p>

              <p>And as a kid, you sang, danced, drew, moved, cried, smiled, laughed, ran naked, and most likely did all those
                things passionately. </p>

              <p>Then you started to grow up, and perhaps the adults around you didn't encourage your behaviours, or maybe you
                began to feel like it was time to "grow up", and the responsibilities and stresses of life took over.</p>

              <p>So you pushed down, shoved aside, shut off all the beautifully passionate and creative aspects of your being.
                Well, that's I did anyway.</p>

              <p>Those parts of me have been like a dormant animal, occasionally poking it's head out to make sure I know it
                still exists.</p>

              <p>Parts of me have been dying to express, for years, what I couldn't in words. </p>

              <p>I would admire anyone who had tapped into their freedom of expression. </p>

              <p>I would take great pleasure in watching people dance, hearing people sing, listening to musicians do their
                magical thing. I would admire people's artwork, and drench myself in the beautifully written words of a book.<br>
              Ah, how I wished I was artistic.</p>

              <p>But I was. I am. I am, I have just forgotten. </p>

              <p>This week, this week I have reconnected to that part of me. That MASSIVE, instinctual part of me. </p>

              <p>I started painting, and drawing Mandalas. And I haven't been able to stop. </p>

              <p>What's even more appealing about making Mandalas is the repetitive meditative aspect of the art. </p>

              <p>I enter into a trance. And each time, each time there's a mood. </p>

              <p>I light candles, and dim the lights. I burn incense and play soft music. The diffuser gently blows lavender
                in the room, as my hands begin to create, and my mind completely surrenders to something creative that feels
                like it is beyond me. </p>

              <p>It's very similar to the state that takes over when I teach a yoga class. I enter a different zone. </p>

              <p>What ever was "wrong" in me, becomes right again, and a calmness takes over. It's a magical process. </p>

              <p>This is my art. </p>

              <p>Your art may take a completely different form. What is <strong>your being craving to do ?  </strong></p>

              <p>If you close your eyes, and take a nice deep breath, and feel into yourself, what would you like to do if you
                let go of all your fears and expectations of yourself? </p>

              <p>What would feel good? </p>

              <p>I think the best way to find out, is to have a dance party, all.by.yourself. </p>

              <p>And get naked. Yup, NAKED! </p>

              <p>Why? Because you will connect with your true nature in a way that you cannot if you are covered. Let go of
                the ego, the ego is the one telling you right now "I can't possibly to that, I'm too skinny, fat, responsible,
                proper, mature for this shit." </p>

              <p>I know you want to. Somewhere deep down inside. Imagine how freeing this will be. No one needs to know (except
                your cat, your cat will be watching you). </p>

              <p>The point of this naked dance is to let go of your inhibitions. These inhibitions have grown like walls to
                falsely make you believe that you are protected and loved if you abide by the rules that society has imposed
                on you. Fuck.that.shit my friends. LET YOUR FREAK-FLAG FLY. </p>

              <p>Return to that voice that sings, or that body that moves, or those hands that make something, or play something.
                </p>

              <p>There is no good reason that we need to let go of that free-spirited kid inside of us. And if you weren't a
                free -spirited kid, well it's time to be a free-spirited adult :) </p>

              <p>*Side effects may include increased happiness, well-being, a sense of freedom and connection to your truest
                deepest nature, a more relaxed body and mind, and extra pleasure. </p>

              <p>Now, go child, be free. </p>

              <p>----</p>

              <p><strong>And then come back and share your experience, I want to hear all about it! </strong></p>

              <p><i>Image credit by <a href="https://www.pinterest.com/pin/514536326155594383/">google.co.uk</a> </i></p>


            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Self Development</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">April 27, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>

        <div id="disqus_thread"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document,
              s = d.createElement('script');
            s.src = 'https://stephaniemankarios.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->

{% endblock %}