<!-- happiness-and-love-archive.html -->
{% extends "layout.html" %} {% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">



<!-- Creativity is An Orgasm for the Body -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/creativity.jpg" alt="">

                        <a href="creativity-is-an-orgasm-for-the-body.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="creativity-is-an-orgasm-for-the-body.html">creativity is an orgasm for the body</a></h1>
                        </header>
                        <div class="entry-content">

                            <p>Let's break away from the mind for a moment. </p>

                            <p>Try to remember the last time you did something creative. How did it feel? </p>

                            <p>Absolutely, genuinely, deeply <strong>yummy</strong> you say? I agree! </p>

                            <p>Some of us humans spend WAY too much time rationalizing, thinking, understanding and making logic out of everything
                                that occurs in our day. Everything we see, feel, touch, taste, smell, becomes a mental process. </p>

                            <p>Have we begun to completely disconnect from our creative nature? </p>

                            <p>We are all born perfect. <strong>You, still are perfect</strong>. You've only (maybe) forgotten. </p>

                            <p>And as a kid, you sang, danced, drew, moved, cried, smiled, laughed, ran naked, and most likely did all those
                                things passionately. </p>

                            <p>Then you started to grow up, and perhaps the adults around you didn't encourage your ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="creativity-is-an-orgasm-for-the-body.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 27, 2017</span>
                        </div>
                    </div>
                </article>





                <!-- You Have 36 525 Days To Live -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/days-to-live.jpg" alt="">

                        <a href="you-have-36-525-days-to-live.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="you-have-36-525-days-to-live.html">You have 36 525 days to live</a></h1>
                        </header>
                        <div class="entry-content">
                            	<p>In my early twenties, I attended Toast Masters (an international organization aimed at helping people develop their communication and leadership skills), where I met a great friend. </p> 
            
            
            <p>This friend always had a lesson for me: <strong>LIVE LIFE TO THE FULLEST.</strong> </p>
            
            
            <p>He used to tell me "If you live to be 100 years old, that means that you will have 36 525 days to live on this earth." </p>
            
            <p>That doesn't seem like much right?  </p>
            
            <p>According to statista, the average life expectancy in North America is 77 years for males, and 81 years for females.  </p>
            
            <p>That's only 28 124 days for men, and 29 585 days for women.  </p>
            
            <p>What is the point of knowing this? Well friend, I want to enthusiastically encourage you to live your life with MEANING. </p>
            
            <p>Life is too short to be doing anything other than ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="you-have-36-525-days-to-live.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 13, 2017</span>
                        </div>
                    </div>
                </article>





              <!-- Morning Ritual -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/morning-ritual.jpg" alt="">

                        <a href="morning-ritual.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="morning-ritual.html">HOW TO CREATE A MORNING RITUAL AND WHY IT WILL CHANGE YOUR LIFE</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>Most of us wake up in the morning feeling like we just got run over by a Tyrannosaurus Rex, crusty eyes, pasty mouths, crispy bodies, with some vague memory of who we are, what year it is,  wondering why we just got interrupted from being in some other dimension of reality.</p>  
 
                            <p>Then we; roll out of bed until we hit the floor, walk blindly to the bathroom to pee, make our way to the kitchen for some liquid caffeine to jolt us back into awareness, and possibly eat some breakfast.  </p>
                             
                            <p>Some of us shower and brush our teeth, hopefully get dressed, and make our way out the door to start our day. </p> 
                             
                            <p>Well my friends, I'm here to tell you...drumroll, are you ready? There's another way to start your day. </p> 
                             
                            <p>One that will leave you feeling <strong>fresh, awake, invigorated, energized, and centered</strong>.</p>  
                             
                            <p>Yup, even at 5 in the morning. </p> 
                             
                            <p>The answer: <strong>Create a morning ritual</strong>.</p> 

                            <p>Many people that you and I know have a morning ritual: Barack Obama and Tony Robbins just to name a few...Deepak Chopra meditates every morning from 4am to 6am.  
                             
                            <p>The key is to customize your morning ritual according to ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="morning-ritual.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 23, 2017</span>
                        </div>
                    </div>
                </article>


                    


                </div>
                <!--<ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div>
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}