<!-- health-and-wellness-archive.html -->
{% extends "layout.html" %} {% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">


                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="creating-change.html"><img src="assets/images/blog/30-days-without-sugar.jpg" alt=""></a>

                                <a href="creating-change.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6>Health &amp; Wellness</h6>

                                    <h1 class="entry-title"><a href="30-days-without-sugar.html">HOW TO CREATE CHANGE &amp; WHAT HOLDS US BACK</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>

                                    <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>

                                    <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything), right?</p>

                                    <p>Well friend, here is my story: </p>

                                    <p>I recently started working with ... </p>

                                        <div class="social-share">
                                            <span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
                                        </div>
                                </div>
                            </div>

                        </article>
                    </div>




                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="coconut-milk.html"><img src="assets/images/blog/coconut-milk.jpg" alt=""></a>

                                <a href="coconut-milk.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6>Health &amp; Wellness</h6>

                                    <h1 class="entry-title"><a href="coconut-milk.html">How to take a Coconut milk bath &amp; Why it's good for you</a></h1>


                                </header>
                                <div class="entry-content">
                                   <p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've come to the right place.</p>
                                    <p>If you're like most people, your body could really use some TLC, am I right?  Perhaps you: work too much, have kids, don't take the time to take care of yourself, or don't know how to.</p>
                                    <p> I will share with you all the ingredients involved in making this the best experience possible ...</p>              

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize">March 30, 2017</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>




                </div><!-- /.row -->
                <!--<ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div><!-- /.col-md-8 -->
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}