<!-- health-and-wellness-archive.html -->
{% extends "layout.html" %} {% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">


                   <!-- 4 Ways to Get Out of Your Head -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/4-ways-to-get-out-of-your-head.jpg" alt="">

                        <a href="4-ways-to-get-out-of-your-head.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="4-ways-to-get-out-of-your-head.html">4 ways to get out of your head</a></h1>
                        </header>
                        <div class="entry-content">

                           <p>We all go through periods of feeling stuck, feeling blocked, feeling depressed, or feeling lost. Sometimes, all those states combine together, which is less than ideal.</p> 
 
                            <p>The one aspect that all those states have in common, is stagnation. </p>
                            
                            <p>When the energy in our body and our mind is literally stagnant, there is no movement, things are stuck. </p>
                            
                            <p>Different things will work for different people, and at different times, but here are 4 ways you can move from a place of stagnancy to a place of movement. </p>
                            
                            <h4>1. Move through your body  </h4>
                            
                            <p>What do we tend to do when we are feeling down/stuck/blocked? We physically stay in one place. Often, that involves sitting. And when we are sitting, we aren't moving much. We might not even leave the house.</p>  
                            
                            <p>To literally get energy moving through the body, find a way that feels ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="4-ways-to-get-out-of-your-head.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 4, 2017</span>
                        </div>
                    </div>
                </article>





<!-- 30 Days Without Sugar -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/30-days-without-sugar.jpg" alt="">

                        <a href="30-days-without-sugar.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="30-days-without-sugar.html">How 30 Days Without Sugar Has Positively Shifted My Life!</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>


              <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>


              <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything),right?</p>


              <p>Well friend, here is my story: </p>

              <p>I recently started working with a Functional Health Practitioner (best decision I ever made btw, and after running some tests, we uncovered that my gut is…in the least scary terms possible, not in such good shape</p>

              <p>I have 2 things: </p>

              <ul>
                <li>A parasite called Blastocystis hominis (yuck, right?). According to Wikipedia, it is one of the most common
                  human parasites in the world, and is THE most common parasitic infection in the United States. </li>

                <li>Candida Albicans, which is a fungus, is detectable in the gastrointestinal tract in 40% of healthy adults,
                  according to wikipedia. </li>
              </ul>

              <p>Yup, scary, I know.</p>

              <p><strong>The good news is</strong>, I can get rid of these by ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="30-days-without-sugar.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
                        </div>
                    </div>
                </article>





 <!-- Coconut Milk Bath -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/coconut-milk.jpg" alt="">

                        <a href="coconut-milk.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="coconut-milk.html">How to take a Coconut milk bath &amp; Why it's good for you</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've
                come to the right place.</p>
              <p>If you're like most people, your body could really use some TLC, am I right?  Perhaps you: work too much, have
                kids, don't take the time to take care of yourself, or don't know how to.</p>
              <p>I'm here to share with you an exquisite bath recipe that will leave you feeling like a brand new Goddess (or God, and men, I do encourage you to do this too!)</p>
              <p> I will share with you all the ingredients involved in making this the best experience possible, but feel free to modify and add or remove aspects according to your needs and what YOUR body craves.</p>
              <p> I like to take these baths once a week, but if you do them more often, then honey, by all means, indulge!
              </p>
              <p><strong>1. What to put in the bath</strong></p>
              <p> A)
                <strong>Epsom salts</strong> – eases stress, relaxes the body, relieves pain and muscle cramps,   relieves
                constipation, eliminates toxins from the body, helps prevent ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="coconut-milk.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 30, 2017</span>
                        </div>
                    </div>
                </article>







                </div><!-- /.row -->
                <!--<ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div><!-- /.col-md-8 -->
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}