{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/how-to-start-a-meditation-practice.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Spirituality</h6>
              <h1 class="entry-title">How to Start a Meditation Practice</h1>
            </header>
            <div class="entry-content">

<p>People often share with me that they have always wanted to meditate, but they either can't find the time, or don't know where to start.  </p>
 
<p>I'm here to tell you, that all you need is a couple of minutes a day…and that's it. You don't even need a chair, all you need is yourself! </p>
 
<p>If you're interested or curious about meditation, then you're already one step closer to actually doing it. </p> 
 
<p>Start small, with 2 minutes a day. Starting small will help you feel like you're able to do it, and no matter how busy your life is, you can find 2 minutes to close your eyes. Gradually, you can increase to 5 minutes, and then 10. Eventually, once you're in the rhythm of it, and it has become part of your daily routine (just like brushing your teeth), you can block off 20 mins or more for your meditation practice.  </p>
 
<p>I personally like to do my meditation in the morning. This sets the tone for the rest of my day. But if you don't have time in the morning, any time of day will be really beneficial for the mind. </p>

<p><strong><u>How to start:</u></strong></p>
 <ol>
  <li><strong>Sit down.</strong> You can sit on the ground, on a meditation bench, on a cushion, or on a chair. </li> 
  
  <li><strong>Set a timer.</strong> At the beginning, it's hard to tell how many minutes have gone by. I like to set a gentle timer on my phone so that I know when the meditation is complete. (And put your phone on silent) </li>
  
  <li><strong>Close your eyes.</strong> Get comfortable, relax your shoulders, and any other part of the body that feels tense. Relax your face, jaw, mouth, eyebrows, forehead.  </li>
  
  <li><strong>Begin to watch your breath.</strong> The simplest form of meditation, is focusing on the breath. Don't think about the breath, just notice the sensations of the breath. The sound of the breath. The temperature of the breath. Watch the breath. Anytime your mind begins to wander away (into thoughts), just come back to your breath.  </li>
  
  <li><strong>Count your breaths.</strong> If it feels to challenging to focus on your breathing, count your breaths. Count 1 (in your head, not out loud) on your inhale, 2 on your exhale, 3 on your inhale, etc. All the way up to 10. When you reach 10, restart at 1.  </li>
 </ol>

<p>By giving the mind something specific and basic to focus on, it prevents it from wandering away with all the thoughts that arise which take us away from the present moment. </p>

<p>Don't try to <strong>get</strong> anywhere, there is nowhere to get to. Meditation is about just <strong>being</strong> with what is.  </p>
 
<p>When you're done, highlight the date in your calendar or mark it down, so you can keep track of your practice.  </p>

<p>If life feels overwhelming at times, take two minutes to meditate somewhere unconventional such as in the bathroom for example. Let's be real, no one is going to come looking for you in there, so it's a perfect time to set your timer for a couple of minutes and just close your eyes. You can also do it in your car before you start driving. Take a few moments, and you'll notice how much calmer you feel before you head out onto the road or into traffic. </p>

<p>Remember that there is no right way or wrong way to feel during meditation. Welcome what ever exists within you on that day, and breathe. That's all you need to do, is breathe.   </p>
 
<p>If you want to read about what my experience with meditation was when I first started, <a href="http://localhost:3000/i-was-scared-shitless-of-meditation.html">click here</a></p>

<p>---</p>
 
<p><strong>Try it out, and let me know how it goes!</strong></p>
 


<br><br><br><br>

  <p><i>Image credit by <a href="http://stophavingaboringlife.com/meditating-with-thai-monks/">Stop Having A Boring Life</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">June 29, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}