{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/i-was-scared-shitless-of-meditation.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Spirituality</h6>
              <h1 class="entry-title">I Was Scared Shitless Of Meditation</h1>
            </header>
            <div class="entry-content">

<p>I want to tell you the story of how scary meditation was for me, for the longest time.  </p>
 
<p>I believe that it can be intimidating for most people, especially without any guidance. </p>
 
<p>But first, let me share with you the story of how I rejected Yoga many years ago, and how it has now transformed my life. </p>
 
<p>When I was a young girl, I remember waking up on the weekend and seeing my mom do all kinds of fitness activities in the living room. Sometimes, this involved yoga.  </p>
 
<p>I was never really curious about it, but then, around the age of 9 or 10, I went along with her to a class at a community center near our house.  </p>
 
<p>I.hated.it. </p>
 
<p>I tried it again a few years later…still a no-go. </p>
 
<p>And again in my late teenage years, still hated it. </p>
 
<p>Yes, hate is a very strong word. And that's what I felt at the time. I didn't understand it then, but the practice was forcing me to be present in my body, and I was absolutely not ready for that.  I even remember spending the whole class looking around me, at anyone and anything I possibly could, in the hopes of escaping from myself. I didn't wanna be inside, I couldn't. </p>
 
<p>Even up until a year before I went to do my first Yoga Teacher Training, I remember a friend asking me if I wanted to go do a yoga class and my answer was "hell no". </p>
 
<p>What I've learned about myself over the last 5 or 6 years is that what I tend to reject and push away most in my life, is what I NEED most. In fact, many people are this way.  </p>
 
<p>So, what I needed most was Yoga, and it was the very thing I was avoiding. </p> 
 
<p>How the heck did I become a Yoga teacher after that, you might be wondering? </p>
 
<p>Well, the only thing I ever give credit to is my gut. In the most unlikely time, I listened to a strong gut feeling that led me to my first Yoga teacher training (in Bali). And I didn't go there with the intention of becoming a teacher. I went there because that was my being's attempt at saving myself from continuing on in life on a path that would have been quite destructive. Somewhere inside, something in me knew, this was what I needed in order to begin to heal.</p> 
 
<p>And holy crap, was I on point. This was EXACTLY what I needed. </p>
 
<p>During my teacher training, I fell in love, INSTANTLY, with teaching. I went back home and started right away, and have never stopped since. I found my calling, 100%, and through it, have healed parts of myself a little bit every day (some days more than just a little bit), and through my own experience of healing, I have been able to understand and guide others on their path as well. </p>
 
<p>For a few years though, even though I was completely immersed in 'the yoga life', I was mortified of meditating. Yup, another strong word, to describe exactly how strongly I felt about it. </p> 
 
<p>Even though I had invested all my time (literally), going within myself and healing wounds and traumas through my yoga practice, through breath work, and workshops and reading and therapy, meditation was still too scary. It was like the next level of having to be present with myself, and I wasn't ready. </p>
 
<p>I even remember in my second year of teaching, a friend of mine at the time had told me about Oprah and Deepak Chopra's 21 day Meditation challenge. I did day 1, and then checked out. 1 day was all I could handle. Closing my eyes, still felt like too much. I was the yoga teacher who was afraid of meditation (and probably not the only one!). </p>
 
<p>When I did my second Yoga teacher training in India, we had to meditate every single evening, in a room, for 30 minutes. It.was.torture. </p>
 
<p>I still wasn't ready, and I resisted with everything I got. I was like a kid being told I had to do homework. The instant we would sit down and close our eyes, I would escape, mentally. I HAD to think of something else, anything else, because listening to the guided meditation was impossible. </p> 
 
<p>Then, maybe a year after that, I became curious about it. I think once I removed the pressure I had put on myself because 'I'm a yoga teacher and everyone expects me to be able to be and do everything "spiritual"', it opened up a little space inside of curiosity. </p>
 
<p>I let myself be curious about it for quite some time before attempting to embark in it again. </p>
 
<p>I started experimenting with a couple of minutes at a time. Once my mind saw that nothing bad happened when I closed my eyes, I survived and made it out alive, it started to feel like an experience I can manage to do. </p>
 
<p>The thing that really got me into it though, was once again, Oprah and Deepak's 21 day meditation. I got so into it in fact, that I began looking forward to the 20 minutes everyday, and I began to watch my life transform before my eyes.  </p>
 
<p>I know it sounds like some magical potion of weirdness, but it really does work. </p> 
<p>My view on life changed, my experiences changed, things started to fall into place, I began to see more clearly, I got more in touch with my gut feelings and my intuition.  </p>
 
<p>So, I guess my hope in you reading this is that : it's ok to be scared. But be scared and be open, because sometimes, often, the things we reject most are the things we need most.  </p>

<p>----</p>

<p><strong>What has your experience around meditation been?</strong></p>


<br><br><br><br>

  <p><i>Image credit by <a href="https://www.youtube.com/watch?v=62hU_-jfxOg">Binaural Beats Sounds via Youtube</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">May 25, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}