<!-- index.njk -->
{% extends "layout.njk" %}



{% block content %}
<div class="jumbotron home-page"
><div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="text-center">
					<p style="color: white;">Stephanie Mankarios</p>
					<p style="color: white; font-size: 3rem;"><i>Self Development Coach</i></p>
					<p style="color: white; font-size: 3rem;"><i>Mindfulness Yoga &amp; Meditation Teacher</i></p>
					
	<!--				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum quis tortor</p> -->
					<a href="#" class="btn btn-lg btn-primary">TAP INTO YOUR TRUE SELF</a> </div>
				<!-- ./text-left -->
			</div>
			<!-- ./col-md-12 -->
			<div class="col-sm-6">
			</div>
		</div>
		<!-- ./row -->
	</div>
	<!-- ./container -->
	</div>
	<!-- ./jumbotron -->

	
	<section div="container">
		<div class="row">
			
		</div>
	</section>

	
	
	<!--main content start-->
	<div class="main-content">
		<div class="container">
			<div class="row">

			<div class="top-comment text-center">
				<h3 style="font-family: libre-baskerville-regular;">Hey friends! Come join my weekly 7-day self development challenges on <a href="https://www.instagram.com/stephaniemankarios/" target="_blank">Instagram!</a></h3>
			</div>

				<div class="col-md-8">
					<article class="post">
						<div class="post-thumb">
							<a href="welcome-to-my-blog.html"><img src="assets/images/blog/welcome-to-my-blog.jpg" alt=""></a>
							<a href="welcome-to-my-blog.html" class="post-thumb-overlay text-center">
								<div class="text-uppercase text-center">View Post</div>
							</a>
						</div>
						<div class="post-content">
							<header class="entry-header text-center text-uppercase">
								<h6><a href="welcome-to-my-blog.html">Spirituality</a></h6>
								<h1 class="entry-title"><a href="welcome-to-my-blog.html">Welcome To My Blog
							</a></h1>
							</header>
							<div class="entry-content">
						<h4>Hi friend, welcome to my blog!</h4>

 
<p>I am so excited to be able to share things with you here.</p>

 
This is a sacred space where you can share and comment in the sections below the posts.</p>

 
<p>I have so much information to share, but if you wish to read about a specific topic, please feel free to send me a note and I'll see what I can do.  </p>

 
<p>What you can expect: </p>
 
<ul> 
<li>Content that will be interesting and informative </li>
<li>Thought-provoking content </li>
<li>A little about me </li>
<li>Blog posts once a week </li>
<li>Posts that will inspire you, help you, support you, and guide you </li>
</ul>
 
<p>I am here for YOU. </p>
								
								<div class="btn-continue-reading text-center text-uppercase">
									<a href="welcome-to-my-blog.html" class="more-link">Continue Reading</a>
								</div>
							</div>
							<div class="social-share">
								<span class="social-share-title pull-left text-capitalize">February 3, 2017</span>
								<!--<ul class="text-center pull-right">
                                    <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                                    <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
                                </ul>-->
							</div>
						</div>
					</article>
					<article class="post post-list">
						<div class="row">
							<div class="col-md-6">
								<div class="post-thumb">
									<a href="coconut-milk.html"><img src="assets/images/blog/coconut-milk.jpg" alt="" class="pull-left"></a>
									<a href="coconut-milk.html" class="post-thumb-overlay text-center">
										<div class="text-uppercase text-center">View Post</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="post-content">
									<header class="entry-header text-uppercase">
										<h6><a href="coconut-milk.html">Health &amp; Wellness</a></h6>
											<h1 class="entry-title">How to take a Coconut milk bath &amp; Why it's good for you </h1>
									</header>
									<div class="entry-content">
									<p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've come to the right place.</p>
									</div>
									<div class="social-share">
										<span class="social-share-title pull-left text-capitalize">February 12, 2017</span>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="post post-list">
						<div class="row">
							<div class="col-md-6">
								<div class="post-thumb">
									<a href="morning-ritual.html"><img src="assets/images/blog/morning-ritual.jpg" alt="" class="pull-left"></a>
									<a href="morning-ritual.html" class="post-thumb-overlay text-center">
										<div class="text-uppercase text-center">View Post</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="post-content">
									<header class="entry-header text-uppercase">
										<h6><a href="morning-ritual.html">Happiness &amp; Love</a></h6>
										<h1 class="entry-title"><a href="morning-ritual.html">Morning Ritual</a></h1>
									</header>
									<div class="entry-content">
										<p>Most of us wake up in the morning feeling like we just got run over by a Tyrannosaurus Rex, crusty eyes, pasty mouths, crispy bodies, with some vague memory of who we are, what year it is,  wondering why we just got interrupted from being in some other dimension of reality.  

										</p>
									</div>
									<div class="social-share">
										<span class="social-share-title pull-left text-capitalize">On February 12, 2017</span>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="post post-list">
						<div class="row">
							<div class="col-md-6">
								<div class="post-thumb">
									<a href="creating-change.html"><img src="assets/images/blog/creating-change.jpg" alt="" class="pull-left"></a>
									<a href="creating-change.html" class="post-thumb-overlay text-center">
										<div class="text-uppercase text-center">View Post</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="post-content">
									<header class="entry-header text-uppercase">
										<h6><a href="creating-change.html">Self Development</a></h6>
										<h1 class="entry-title"><a href="creating-change.html">Creating Change</a></h1>
									</header>
									<div class="entry-content">
										<p>Most of us wake up in the morning feeling like we just got run over by a Tyrannosaurus Rex, crusty eyes, pasty mouths, crispy bodies, with some vague memory of who we are, what year it is,  wondering why we just got interrupted from being in some other dimension of reality. 
										</p>
									</div>
									<div class="social-share">
										<span class="social-share-title pull-left text-capitalize">On February 12, 2017</span>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="post post-list">
						<!--<div class="row">
							<div class="col-md-6">
								<div class="post-thumb">
									<a href="blog.html"><img src="assets/images/blog-grid.jpg" alt="" class="pull-left"></a>
									<a href="blog.html" class="post-thumb-overlay text-center">
										<div class="text-uppercase text-center">View Post</div>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="post-content">
									<header class="entry-header text-uppercase">
										<h6><a href="index-list.html#"> Travel</a></h6>
										<h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>
									</header>
									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consadipsinesed diam nonumy eirmod tevidubore et
										</p>
									</div>
									<div class="social-share">
										<span class="social-share-title pull-left text-capitalize">On February 12, 2017</span>
									</div>
								</div>
							</div>
						</div>-->
						<div class="col-md-12">
							<div class="btn-continue-reading text-center text-uppercase">
								<a href="blog.html" class="more-link">view more</a>
							</div>
					</article>
					{#<ul class="pagination">
						<li class="active"><a href="index-list.html#">1</a></li>
						<li><a href="index-list.html#">2</a></li>
						<li><a href="index-list.html#">3</a></li>
						<li><a href="index-list.html#">4</a></li>
						<li><a href="index-list.html#"><i class="fa fa-angle-double-right"></i></a></li>
					</ul>#}
				</div>

{% include "partials/sidebar.njk" %}

{% endblock %}


  