<!-- index.njk -->
{% extends "layout.njk" %} 


{% block content %}

<div class="jumbotron home-page">
	<div class="container">
		<div class="row index-header">
			<div class="col-sm-6">
				<div class="text-center">
					<p style="color: white;">Stephanie Mankarios</p>
					<p style="color: white;"><i>Self Development Coach</i></p>
					<p style="color: white;"><i>Mindfulness Yoga &amp; Meditation Teacher</i></p>

					<!--				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum quis tortor</p> -->
				




<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">


<style type="text/css">
#mc_embed_signup input.email {
		font-family: "libre-baskerville-regular", serif;
		font-size: 1.5rem;
}

	#mc_embed_signup {
		clear: left;
		font-family: "libre-baskerville-regular", serif;
		font-size: 1.5rem;
		width: 100%;
	}
	
	#mc_embed_signup .button {
		background-color: #00BFF3;
	}
	
	#mc_embed_signup .button:hover {
		background-color: #0097c0;
	}
	
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>



<div id="mc_embed_signup">
<form action="//stephaniemankarios.us15.list-manage.com/subscribe/post?u=c4211313b8f87f03638ddf75f&amp;id=27218483b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<input type="text" value="" name="FNAME" placeholder="First Name" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" placeholder="Email Address"class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c4211313b8f87f03638ddf75f_27218483b6" tabindex="-1" value=""></div>
    <div class="clear text-center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->












					<!--<form class="subscribe-form">
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" placeholder="Enter Email Address">
                  <span class="input-group-btn">
                    <button class="btn btn-theme" type="button">Subscribe</button>
                  </span>
                </div>
					</form>-->



					
					<!--<a href="#" class="btn btn-lg btn-primary">TAP INTO YOUR TRUE SELF</a> -->
					<p>*We won't share your email with third parties</p>
					</div>
				
				
				<!-- ./text-left -->
			</div>
			<!-- ./col-md-12 -->
			<div class="col-sm-6">
			</div>
		</div>
		<!-- ./row -->
	</div>
	<!-- ./container -->
</div>
<!-- ./jumbotron -->


<section div="container">
	<div class="row">

	</div>
</section>



<!--main content start-->
<div class="main-content">
	<div class="container">
		<div class="row">

			<div class="top-comment text-center">
				<h3 style="font-family: libre-baskerville-regular; margin-bottom: 0;">Hey friends! Come join my weekly 7-day self development challenges on <a href="https://www.instagram.com/stephaniemankarios/"
					  target="_blank">Instagram!</a></h3>
			</div>

			<div class="col-md-8">

				
				<article class="post">
					<div class="post-thumb">
						<img src="assets/images/blog/welcome-to-my-blog.jpg" alt="">
						<a href="welcome-to-my-blog.html" class="post-thumb-overlay text-center">
							<div class="text-uppercase text-center">View Post</div>
						</a>
					</div>
					<div class="post-content">
						<header class="entry-header text-center text-uppercase">
							<h6>Spirituality</h6>
							<h1 class="entry-title"><a href="welcome-to-my-blog.html">Welcome To My Blog</a></h1>
						</header>
						<div class="entry-content">
							<h4>Hi friend, welcome to my blog!</h4>


							<p>I am so excited to be able to share things with you here.</p>


							<p>This is a sacred space where you can share and comment in the sections below the posts.</p>


							<p>I have so much information to share, but if you wish to read about a specific topic, please feel free to send me a
								note and I'll see what I can do. </p>


							<p>What you can expect: </p>

							<ul>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Content that will be interesting and informative </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Thought-provoking content </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>A little about me</span> </li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Blog posts once a week </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Posts that will inspire you, help you, support you, and guide you</span>
									</li>
							</ul>

							<p>I am here for YOU. </p>

							<div class="btn-read-more text-center text-uppercase">
								<a href="welcome-to-my-blog.html" class="more-link">read more</a>
							</div>
						</div>
						<!--<div class="social-share">
							<span class="social-share-title pull-left text-capitalize">March 8, 2017</span>
						</div>-->
					</div>
				</article>







<!-- 30 Days Without Sugar -->
<article class="post post-list">
					<div class="row">
						<div class="col-md-6">
							<div class="post-thumb">
								<img src="assets/images/blog/30-days-without-sugar.jpg" alt="" class="pull-left">
								<a href="30-days-without-sugar.html" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-content">
								<header class="entry-header text-uppercase">
									<h6>Health &amp; Wellness</h6>
									<h1 class="entry-title"><a href="30-days-without-sugar.html">How 30 Days Without Sugar Has Positively Shifted My Life!</a> </h1>
								</header>
								<div class="entry-content">
								 
						 <p>I never imagined the extent to which sugar was affecting my life, until I stopped it. </p>


              <p>And trust me, I really didn't think I was eating much sugar to begin with. </p>


              <p>Now you might be thinking…why the heck would you completely stop eating sugar (it's in almost everything), right?</p>


              <p>Well friend, here is my story: </p>

              <p>I recently started working with ... </p>
            
								</div>

							<div class="btn-read-more text-center text-uppercase">
								<a href="30-days-without-sugar.html" class="more-link">read more</a>
							</div>

								<div class="social-share">
									<span class="social-share-title pull-left text-capitalize">April 20, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</article>







<!-- You Have 36 525 Days To Live -->
			<article class="post post-list">
					<div class="row">
						<div class="col-md-6">
							<div class="post-thumb">
								<img src="assets/images/blog/days-to-live.jpg" alt="" class="pull-left">
								<a href="you-have-36-525-days-to-live.html" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-content">
								<header class="entry-header text-uppercase">
									<h6>Happiness &amp; Love</h6>
									<h1 class="entry-title"><a href="you-have-36-525-days-to-live.html">You Have 36 525 Days To Live</a> </h1>
								</header>
								<div class="entry-content">
								 
						<p>In my early twenties, I attended Toast Masters (an international organization aimed at helping people develop their communication and leadership skills), where I met a great friend. </p> 
            
            <p>This friend always had a lesson for me: <strong>LIVE LIFE TO THE FULLEST.</strong> </p>
            
            <p>He used to tell me "If you live to be 100 years old, that means ...</p>
            
								</div>

							<div class="btn-read-more text-center text-uppercase">
								<a href="you-have-36-525-days-to-live.html" class="more-link">read more</a>
							</div>

								<div class="social-share">
									<span class="social-share-title pull-left text-capitalize">April 13, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</article>



<!-- 3 Reasons Why Everybody Needs A Therapist -->
			<article class="post post-list">
					<div class="row">
						<div class="col-md-6">
							<div class="post-thumb">
								<img src="assets/images/blog/therapist.jpg" alt="" class="pull-left">
								<a href="3-reasons-why-everyone-needs-a-therapist.html" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-content">
								<header class="entry-header text-uppercase">
									<h6>Self Development</h6>
									<h1 class="entry-title"><a href="3-reasons-why-everyone-needs-a-therapist.html">3 Reasons Why Everyone Needs A Therapist</a> </h1>
								</header>
								<div class="entry-content">
								<p>For a long time, there was a stigma around therapy. I even noticed this when recently watching an episode of  Gilmore Girls (yes you can laugh at me:), where Lorelai said "A therapist? Why, have you gone crazy?" </p>
 
								<p>There was this idea that you either needed to be "crazy" to see a therapist, or ... </p> 
 
								</div>

							<div class="btn-read-more text-center text-uppercase">
								<a href="3-reasons-why-everyone-needs-a-therapist.html" class="more-link">read more</a>
							</div>

								<div class="social-share">
									<span class="social-share-title pull-left text-capitalize">April 6, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</article>





<!-- Coconut Milk Bath -->
				<article class="post post-list">
					<div class="row">
						<div class="col-md-6">
							<div class="post-thumb">
								<a href="coconut-milk.html"><img src="assets/images/blog/coconut-milk.jpg" alt="" class="pull-left"></a>
								<a href="coconut-milk.html" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-content">
								<header class="entry-header text-uppercase">
									<h6><a href="coconut-milk.html">Health &amp; Wellness</a></h6>
									<h1 class="entry-title"><a href="coconut-milk.html">How to take a Coconut milk bath &amp; Why it's good for you</a> </h1>
								</header>
								<div class="entry-content">
									<p>If you're in need of a deliciously rejuvenating experience (without the hefty costs of going to the spa), you've come to the right place.</p>

									<p>If you're like most people, your body could really use some TLC, am I right?  Perhaps you: work too much, have kids, don't take the ... </p>

								</div>

							<div class="btn-read-more text-center text-uppercase">
								<a href="coconut-milk.html" class="more-link">read more</a>
							</div>

								<div class="social-share">
									<span class="social-share-title pull-left text-capitalize">March 30, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</article>




<!-- Morning Ritual -->
				<article class="post post-list">
					<div class="row">
						<div class="col-md-6">
							<div class="post-thumb">
								<a href="morning-ritual.html"><img src="assets/images/blog/morning-ritual.jpg" alt="" class="pull-left"></a>
								<a href="morning-ritual.html" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-content">
								<header class="entry-header text-uppercase">
									<h6><a href="morning-ritual.html">Happiness &amp; Love</a></h6>
									<h1 class="entry-title"><a href="morning-ritual.html">HOW TO CREATE A MORNING RITUAL AND WHY IT WILL CHANGE YOUR LIFE </a></h1>
								</header>
								<div class="entry-content">
									<p>Most of us wake up in the morning feeling like we just got run over by a Tyrannosaurus Rex, crusty eyes, pasty mouths,
										crispy bodies, with some vague memory of who we are, what year it is,  wondering why we just got interrupted from
										being in some other dimension of reality.
									</p>

									<p>Then we; roll out of bed until we hit the floor, walk blindly to the ...</p>
								</div>

							<div class="btn-read-more text-center text-uppercase">
								<a href="morning-ritual.html" class="more-link">read more</a>
							</div>

								<div class="social-share">
									<span class="social-share-title pull-left text-capitalize">March 23, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</article>


<!-- Creating Change -->
				<article class="post post-list">
					<div class="row">
						<div class="col-md-6">
							<div class="post-thumb">
								<a href="creating-change.html"><img src="assets/images/blog/creating-change.jpg" alt="" class="pull-left"></a>
								<a href="creating-change.html" class="post-thumb-overlay text-center">
									<div class="text-uppercase text-center">View Post</div>
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-content">
								<header class="entry-header text-uppercase">
									<h6><a href="creating-change.html">Self Development</a></h6>
									<h1 class="entry-title"><a href="creating-change.html">HOW TO CREATE CHANGE &amp; WHAT HOLDS US BACK</a></h1>
								</header>
								<div class="entry-content">
									<p>You <i>know</i> that <u>feeling</u> you get when you want to make a change in your life but something feels like its blocking you?</p>

									<p>Maybe it's a change in lifestyle, a change in how you do certain things or a change in the way you think. Perhaps you've adopted a new way of thinking but your actions don't quite match your thoughts yet.</p>

									<p>Regardless of the reason or nature of the change, we all know the feeling of ...</p>

								</div>

							<div class="btn-read-more text-center text-uppercase">
								<a href="creating-change.html" class="more-link">read more</a>
							</div>

								<div class="social-share">
									<span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
								</div>
							</div>
						</div>
					</div>
				</article>


				
				<article class="post post-list">
					
					<div class="col-md-12">
						<div class="btn-continue-reading text-center text-uppercase">
							<a href="blog.html" class="more-link">view more</a>
						</div>
				</article>
				{#
				<ul class="pagination">
					<li class="active"><a href="index-list.html#">1</a></li>
					<li><a href="index-list.html#">2</a></li>
					<li><a href="index-list.html#">3</a></li>
					<li><a href="index-list.html#">4</a></li>
					<li><a href="index-list.html#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>#}
				</div>

				{% include "partials/sidebar.njk" %} 
				
				{% endblock %}