<!-- index.html -->
{% extends "layout.html" %} 


{% block content %}

<div class="jumbotron home-page">
	<div class="container">
		<div class="row index-header">
			<div class="col-sm-6">
				<div class="text-center">
					<p style="color: white;">Stephanie Mankarios</p>
					<p style="color: white;"><i>Teacher of</i></p>
					<p style="color: white;"><i>Mindfulness Yoga, Meditation, and Self Development</i></p>



<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">


<style type="text/css">
#mc_embed_signup input.email {
		font-family: "libre-baskerville-regular", serif;
		font-size: 1.5rem;
}

	#mc_embed_signup {
		clear: left;
		font-family: "libre-baskerville-regular", serif;
		font-size: 1.5rem;
		width: 100%;
	}
	
	#mc_embed_signup .button {
		background-color: #00BFF3;
	}
	
	#mc_embed_signup .button:hover {
		background-color: #0097c0;
	}
</style>

<div id="mc_embed_signup">
	<form action="//stephaniemankarios.us15.list-manage.com/subscribe/post?u=c4211313b8f87f03638ddf75f&amp;id=27218483b6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
		
	<div class="mc-field-group">
		<input type="text" value="" name="FNAME" placeholder="First Name" class="required" id="mce-FNAME">
	</div>
	<div class="mc-field-group">
		<input type="email" value="" name="EMAIL" placeholder="Email Address"class="required email" id="mce-EMAIL">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c4211313b8f87f03638ddf75f_27218483b6" tabindex="-1" value=""></div>
			<div class="clear text-center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
	</form>
</div>
<!--End mc_embed_signup-->

					<p>*We won't share your email with third parties</p>
					</div><
				<!-- ./text-left -->
			</div>
			<!-- ./col-md-12 -->
			<div class="col-sm-6">
			</div>
		</div>
		<!-- ./row -->
	</div>
	<!-- ./container -->
</div>
<!-- ./jumbotron -->


<section div="container">
	<div class="row">

	</div>
</section>




<!--main content start-->
<div class="main-content">
	<div class="container">
		<div class="row">

			<!--<div class="top-comment text-center">
				<h3 style="font-family: libre-baskerville-regular; margin-bottom: 0;">Hey friends! Come join my weekly 7-day self development challenges on <a href="https://www.instagram.com/stephaniemankarios/"
					  target="_blank">Instagram!</a></h3>
			</div>-->

			<div class="col-md-8">

<!-- Welcome To My Blog -->
				<article class="post">
					<div class="post-thumb">
						<img src="assets/images/blog/welcome-to-my-blog.jpg" alt="">
						<a href="welcome-to-my-blog.html" class="post-thumb-overlay text-center">
							<div class="text-uppercase text-center">View Post</div>
						</a>
					</div>
					<div class="post-content">
						<header class="entry-header text-center text-uppercase">
							<h6>Spirituality</h6>
							<h1 class="entry-title"><a href="welcome-to-my-blog.html">Welcome To My Blog</a></h1>
						</header>
						<div class="entry-content">
							<h4>Hi friend, welcome to my blog!</h4>
							<p>I am so excited to be able to share things with you here.</p>
							<p>This is a sacred space where you can share and comment in the sections below the posts.</p>
							<p>I have so much information to share, but if you wish to read about a specific topic, please feel free to send me a
								note and I'll see what I can do. </p>
							<p>What you can expect: </p>

							<ul>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Content that will be interesting and informative </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Thought-provoking content </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>A little about me</span> </li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Blog posts once a week </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Posts that will inspire you, help you, support you, and guide you</span>
									</li>
							</ul>

							<p>I am here for YOU. </p>

							<div class="btn-read-more text-center text-uppercase">
								<a href="welcome-to-my-blog.html" class="more-link">read more</a>
							</div>
						</div>
						<!--<div class="social-share">
							<span class="social-share-title pull-left text-capitalize">March 8, 2017</span>
						</div>-->
					</div>
				</article>





<!-- 3 Quick Tips on How to Stay in the Present Moment  -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/present-moment.jpg" alt="">

                        <a href="3-quick-tips-on-how-to-stay-in-the-present-moment.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="3-quick-tips-on-how-to-stay-in-the-present-moment.html">3 Quick Tips on How to Stay in the Present Moment </a></h1>
                        </header>
                        <div class="entry-content">

                          <p>Do you sometimes feel like the days go by so fast, and next thing you know half the year is gone,and you have no idea where it went?  </p>
 
                        <p>We often say "Time flies". </p>
                        
                        <p>We are so busy and have so many things happening in our lives that sometimes it feels difficult  to stop and enjoy. I feel ya ... </p>
                        
                        <p>I've written 3 quick tips to help you stay present in the moment so that you can feel like you're really present in your everyday life. Like you are fully participating in every aspect of it, and don't feel robbed of your time.  </p>

                        <h4 >1. Be aware of all the sensations </h4>
                        
                        <p>Every moment, we are flooded with stimulation. Practice filtering out the visual noise and the auditory noise in order to really pick up on the sensations that will help you stay present.<p>  
                        
                        <p>For example, if you are sitting in front of a person, engaged in conversation, really take them in. What does this mean? It means ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="3-quick-tips-on-how-to-stay-in-the-present-moment.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">June 1, 2017</span>
                        </div>
                    </div>
                </article>











<!-- I Was Scared Shitless Of Meditation -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/i-was-scared-shitless-of-meditation.jpg" alt="">

                        <a href="i-was-scared-shitless-of-meditation.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="i-was-scared-shitless-of-meditation.html">I Was Scared Shitless Of Meditation</a></h1>
                        </header>
                        <div class="entry-content">

                          <p>I want to tell you the story of how scary meditation was for me, for the longest time.  </p>
 
                        <p>I believe that it can be intimidating for most people, especially without any guidance. </p>
                        
                        <p>But first, let me share with you the story of how I rejected Yoga many years ago, and how it has now transformed my life. </p>
                        
                        <p>When I was a young girl, I remember waking up on the weekend and seeing my mom do all kinds of fitness activities in the living room. Sometimes, this involved yoga.  </p>
                        
                        <p>I was never really curious about it, but then, around the age of 9 or 10, I went along with her to a class at a community center near our house.  </p>
                        
                        <p>I.hated.it. </p>
                        
                        <p>I tried it again a few years later…still a no-go. </p>
                        
                        <p>And again in my late teenage years, still hated it. </p>
                        
                        <p>Yes, hate is a very strong word. And that's what I felt at the time. I didn't understand it then, but the practice was forcing me to be present in my body, and I was absolutely not ready for that.  I even remember spending the whole class looking ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="i-was-scared-shitless-of-meditation.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 25, 2017</span>
                        </div>
                    </div>
                </article>








<!-- What 3 Beautiful Days at Shakti Fest Were Like -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/shakti-fest.jpg" alt="">

                        <a href="what-3-beautiful-days-at-shakti-fest-were-like.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Spirituality</h6>

                            <h1 class="entry-title"><a href="what-3-beautiful-days-at-shakti-fest-were-like.html">What 3 Beautiful Days at Shakti Fest Were Like</a></h1>
                        </header>
                        <div class="entry-content">

                          <p style="margin-bottom: 2rem;">One of the most famous Yoga, dance and music festivals is Shakti Fest, held in Joshua Tree, southern California. </p>
 
                            <p style="margin-bottom: 2rem;">It was my first time attending this type of event, and it was one of the best 3 days of my life.  </p>
                            
                            <p style="margin-bottom: 2rem;">Before I dive into the beautiful details, I thought I'd share what Shakti means. According to Wikipedia: <strong>Shakti</strong>, meaning power or empowerment, is the primordial cosmic energy and represents the dynamic forces that are thought to move through the entire universe. <strong>Shakti</strong> is the concept of <strong>divine feminine</strong> creative power, sometimes referred to as 'The Great Divine Mother'. </p>
                            
                            <p style="margin-bottom: 2rem;">Ironically this year, the festival landed on Mother's day. </p>

                            <p style="margin-bottom: 2rem;">As soon as we arrived (it was about an 8 hour -gorgeous- drive from Silicon Valley), I cried. Nothing had even happened yet, but the sight ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="what-3-beautiful-days-at-shakti-fest-were-like.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 18, 2017</span>
                        </div>
                    </div>
                </article>








<!-- Why It's Important To Feel Your Emotions Fully -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/important-emotions-fully.jpg" alt="">

                        <a href="why-its-important-to-feel-your-emotions-fully.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="why-its-important-to-feel-your-emotions-fully.html">Why It's Important To Feel Your Emotions Fully</a></h1>
                        </header>
                        <div class="entry-content">

                          <p>One of the most common difficulties I see in people is the fear to FEEL. </p>

                            <p>As a culture, it seems we are becoming more in touch with our logic/rational selves and pushing away, even rejecting our emotional selves.  </p>

                            <p>The thing is, it's hurting us. The one thing I get asked the most often is "please help me feel again".  </p>
                            
                            <p>My entire approach to teaching Yoga is about staying present with the feelings and sensations that arise within us as we move or stay still within the asanas (postures). </p>

                            <p>The interesting thing is, we store all of our experiences in our body, and if we never learn to release them, they stay stuck. Then, we develop dis-ease, aches, pains, and injuries worsen or continue to reoccur. The link between the body and the mind is ...</p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="4-ways-to-get-out-of-your-head.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 11, 2017</span>
                        </div>
                    </div>
                </article>









<!-- 4 Ways to Get Out of Your Head -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/4-ways-to-get-out-of-your-head.jpg" alt="">

                        <a href="4-ways-to-get-out-of-your-head.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Health &amp; Wellness</h6>

                            <h1 class="entry-title"><a href="4-ways-to-get-out-of-your-head.html">4 ways to get out of your head</a></h1>
                        </header>
                        <div class="entry-content">

                           <p>We all go through periods of feeling stuck, feeling blocked, feeling depressed, or feeling lost. Sometimes, all those states combine together, which is less than ideal.</p> 
 
                            <p>The one aspect that all those states have in common, is stagnation. </p>
                            
                            <p>When the energy in our body and our mind is literally stagnant, there is no movement, things are stuck. </p>
                            
                            <p>Different things will work for different people, and at different times, but here are 4 ways you can move from a place of stagnancy to a place of movement. </p>
                            
                            <h4>1. Move through your body  </h4>
                            
                            <p>What do we tend to do when we are feeling down/stuck/blocked? We physically stay in one place. Often, that involves sitting. And when we are sitting, we aren't moving much. We might not even leave the house.</p>  
                            
                            <p>To literally get energy moving through the body, find a way that feels ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="4-ways-to-get-out-of-your-head.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 4, 2017</span>
                        </div>
                    </div>
                </article>








<!-- Creativity is An Orgasm for the Body -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/creativity.jpg" alt="">

                        <a href="creativity-is-an-orgasm-for-the-body.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Happiness &amp; Love</h6>

                            <h1 class="entry-title"><a href="creativity-is-an-orgasm-for-the-body.html">creativity is an orgasm for the body</a></h1>
                        </header>
                        <div class="entry-content">

                            <p>Let's break away from the mind for a moment. </p>

                            <p>Try to remember the last time you did something creative. How did it feel? </p>

                            <p>Absolutely, genuinely, deeply <strong>yummy</strong> you say? I agree! </p>

                            <p>Some of us humans spend WAY too much time rationalizing, thinking, understanding and making logic out of everything
                                that occurs in our day. Everything we see, feel, touch, taste, smell, becomes a mental process. </p>

                            <p>Have we begun to completely disconnect from our creative nature? </p>

                            <p>We are all born perfect. <strong>You, still are perfect</strong>. You've only (maybe) forgotten. </p>

                            <p>And as a kid, you sang, danced, drew, moved, cried, smiled, laughed, ran naked, and most likely did all those
                                things passionately. </p>

                            <p>Then you started to grow up, and perhaps the adults around you didn't encourage your ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="creativity-is-an-orgasm-for-the-body.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 27, 2017</span>
                        </div>
                    </div>
                </article>


				
				<article class="post post-list">
					<div class="col-md-12">
						<div class="btn-continue-reading text-center text-uppercase">
							<a href="blog.html" class="more-link">view more</a>
						</div>
				</article>
				
				<!--<ul class="pagination">
					<li class="active"><a href="index-list.html#">1</a></li>
					<li><a href="index-list.html#">2</a></li>
					<li><a href="index-list.html#">3</a></li>
					<li><a href="index-list.html#">4</a></li>
					<li><a href="index-list.html#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>-->
				</div>

				{% include "partials/sidebar.html" %} 
				

		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.main-content -->

{% endblock %}