<!-- welcome-to-my-blog.njk -->
{% extends "layout.njk" %} {% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <a href="blog.html"><img src="assets/images/blog/morning-ritual.jpg" alt=""></a>
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6><a href="blog.html#">Spirituality</a></h6>
              <h1 class="entry-title"><a href="blog.html">How to create a morning ritual and why it will change your life </a></h1>
            </header>
            <div class="entry-content">
              <p></p>



<p>Most of us wake up in the morning feeling like we just got run over by a Tyrannosaurus Rex, crusty eyes, pasty mouths, crispy bodies, with some vague memory of who we are, what year it is,  wondering why we just got interrupted from being in some other dimension of reality.</p>  
 
<p>Then we; roll out of bed until we hit the floor, walk blindly to the bathroom to pee, make our way to the kitchen for some liquid caffeine to jolt us back into awareness, and possibly eat some breakfast.  </p>
 
<p>Some of us shower and brush our teeth, hopefully get dressed, and make our way out the door to start our day. </p> 
 
<p>Well my friends, I'm here to tell you...drumroll, are you ready? There's another way to start your day. </p> 
 
<p>One that will leave you feeling <strong>fresh, awake, invigorated, energized, and centered</strong>.</p>  
 
<p>Yup, even at 5 in the morning. </p> 
 
<p>The answer: <strong>Create a morning ritual</strong>.</p> 

<p>Many people that you and I know have a morning ritual: Barack Obama and Tony Robbins just to name a few...Deepak Chopra meditates every morning from 4am to 6am.  
 
<p>The key is to customize your morning ritual according to <strong>your own needs</strong>.  </p>
 
<p>You want a ritual that makes you feel good, physically stimulates you and makes you feel empowered and peaceful.  </p>
 
<p>You want to set your day up so that it goes well, instead of simply hoping it goes well, because chances are, something is likely to happen that will upset you, stress you, anger you, or create any other form of uncomfortable feeling. Rather than being reactive, you want to be in a state  where you can handle any situation with a calm mind. And by starting the day off right, your mind (and body) will be better able to cope with what comes your way.  </p>
 
<p>It's kind of like a reset button. A reminder. A reminder to breathe, to be in your body, to listen to the messages that your body is sending you, to stay in the present moment.  </p>
 
<p>My morning ritual consists of 7-9 things and I modify them every few weeks or so, to ensure that I am excited about doing them and they never get old.  </p>
 
<p>Be sure to create one that you enjoy, to increase the likely hood that you'll do it.  </p>
 
<p>I recommend that you write down the list of things you will do every day, and check them off or highlight them once they are done. This will help increase the feeling of accomplishment. </p>
 
<p>At the top of your list write "I am committed to doing my morning ritual." </p>
 
<p>Here is a list (in no particular order), choose the ones that resonate, change them, make new ones and adapt according to your needs.  </p>

<h4>1. Breathing exercises </h4>   
 
<p>I like to do this outdoors (unless you live somewhere too cold), or in front of the window so that you're looking outside. </p> 
 
<p>You can sit on the floor, cross-legged or in straddle on a block, or on a chair with your feet grounded.  </p>
 
<p>You can: </p>
<ul>
<li><i class="fa fa-heart" aria-hidden="true"></i><span>take deep slow belly breaths in and out through the nose, or </span></li>

<li><i class="fa fa-heart" aria-hidden="true"></i><span>do Nadi Shodhan, also known as <a href="https://www.youtube.com/watch?v=Xbbr6Udg1UA" target="_blank">alternate nostril breathing</a></span></li>

<li><i class="fa fa-heart" aria-hidden="true"></i><span>do <a href="https://www.youtube.com/watch?v=1d3erUbB3uw" target="_blank">Kapalbhati</a></span></li>
</ul>

<h4>2. Write a mantra or affirmation for the day  </h4>
 
<p>Adapt the mantra or affirmation according to your needs. </p> 
 
<p>For example, if you wake up feeling anxious, you could write " I am calm in my body and my mind, I am safe, and everything is ok in this moment." </p>
 
<p>If you're feeling unlovable you could write " I love myself just as I am. I am lovable and worthy."</p> 
 
<p>It can also be in the form of a reminder: "Be centered", "I am centered".  </p>
 
<h4>3. Read something </h4>
 
<p>You could read a passage, a paragraph, or several pages of a book.  </p>
 
<p>Osho has a book called "First in the morning", and I like to read the passage of that day.  </p>
 
<h4>4. Meditate </h4>
 
<p>If you are new to meditation, I recommend starting with 5 or 10 minutes. </p>
 
 <p> You can close your eyes and just focus on your breath. Focusing on the rise and fall of your chest and the expansion and retraction of your belly.  </p>
 
<h4>5. Move your body </h4>
 
<p>I typically do 3 sun salutations (on an empty stomach).  </p>
 
<p>You can also do a full yoga practice, QiGong, dance, or any other movement practice that feels good and will wake up your body.  </p>
 
<h4>6. Watch the sun rise  </h4>
 
<p>Of course this depends on what time you wake up, but if you are an early bird, this is a really calming, meditative practice.  </p>

<h4>7. Rebounding  </h4>
 
<p>Also known as jumping on a trampoline. And don't worry, you don't need a backyard for this. I bought a mini one at a fitness store for around 50$. </p>
 
<p><a href="http://www.healthextremist.com/health-benefits-of-rebounding/" target="_blank">Here</a> is a great article about the benefits and technique of rebounding. 



<h4>8. Write down or do the weekly 7 day challenge  </h4>
 
<p>Every week on Sunday, I announce a self-development challenge on my <a href="https://www.instagram.com/stephaniemankarios/" target="_blank">Instagram</a> account. The challenges run for 7 days (from Monday to Sunday).  </p>
 
<p>There is a different challenge every week and the goal is to do something that will help you become happier and healthier.  </p>
 
<p>You can do it anytime, so come check it out :) </p>
 
<h4>9. Drink water  </h4>
 
<p>I tend to do this one last because of the nature of some of the other activities of my morning ritual.  </p>
 
<p>When we wake up, we are dehydrated (because we just spent 6-10 hours without any fluids), so it's time to rehydrate! </p>
 
<p>You can also add freshly squeezed lemon to your water. </p>

<p><strong>...</strong></p>
<p><strong>Do you have a morning ritual? What do you find helpful in the morning?</strong></p>

<br><br><br><br>

<p><i>Image credit to <a href="http://www.cindychen.com.au/blog/2014/6/12/a-morning-ritual" target="_blank">Cindy Chen</a></i></p>



            </div>
            <div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">February 23, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      </div>
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}