<!-- blog.njk -->
{% extends "layout.njk" %} {% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">


                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="creating-change.html"><img src="assets/images/blog/creating-change.jpg" alt=""></a>

                                <a href="creating-change.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6>Self Development</a></h6>

                                    <h1 class="entry-title"><a href="creating-change.html">HOW TO CREATE CHANGE &amp; WHAT HOLDS US BACK</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>You know that feeling you get when you want to make a change in your life but something feels like its blocking you?
                                    </p>

                                        <p>Maybe it's a change in lifestyle, a change in how you do certain things or a change in the way you think. Perhaps you've adopted a new way of thinking but your actions don't quite match your thoughts yet.
                                        </p>

                                        <div class="social-share">
                                            <span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
                                        </div>
                                </div>
                            </div>

                        </article>
                    </div>




                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="3-reasons-why-everyone-needs-a-therapist.html"><img src="assets/images/blog/therapist.jpg" alt=""></a>

                                <a href="3-reasons-why-everyone-needs-a-therapist.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6> Self Development</a></h6>

                                    <h1 class="entry-title"><a href="3-reasons-why-everyone-needs-a-therapist.html">3 Reasons Why Everyone Needs A Therapist</a></h1>


                                </header>
                                <div class="entry-content">
                                   <p>For a long time, there was a stigma around therapy. I even noticed this when recently watching an episode of  Gilmore Girls (yes you can laugh at me:), where Lorelai said "A therapist? Why, have you gone crazy?" </p>
 
                                    <p>There was this idea that you either needed to be "crazy" to see a therapist, or ... </p> 

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize">April 6, 2017</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>




                    <!-- <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="blog.html"><img src="assets/images/blog-grid.jpg" alt=""></a>

                                <a href="blog.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6> Travel</a></h6>

                                    <h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consadipsing elitr, sed diam nonumy eirmod tevidubore
                                        et dolore magna aliquyam erat, sevolutua. At vero eos et accusam et justo duo
                                    </p>

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize"> February 12, 2016</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>




                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="blog.html"><img src="assets/images/blog-grid.jpg" alt=""></a>

                                <a href="blog.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6> Travel</a></h6>

                                    <h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consadipsing elitr, sed diam nonumy eirmod tevidubore
                                        et dolore magna aliquyam erat, sevolutua. At vero eos et accusam et justo duo
                                    </p>

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize"> February 12, 2016</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>




                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="blog.html"><img src="assets/images/blog-grid.jpg" alt=""></a>

                                <a href="blog.html" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6> Travel</a></h6>

                                    <h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consadipsing elitr, sed diam nonumy eirmod tevidubore
                                        et dolore magna aliquyam erat, sevolutua. At vero eos et accusam et justo duo
                                    </p>

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize">February 12, 2016</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>





                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="blog.html"><img src="assets/images/blog-grid.jpg" alt=""></a>

                                <a href="#" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6> Travel</a></h6>

                                    <h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consadipsing elitr, sed diam nonumy eirmod tevidubore
                                        et dolore magna aliquyam erat, sevolutua. At vero eos et accusam et justo duo
                                    </p>

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize"> February 12, 2016</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>




                    <div class="col-md-6">
                        <article class="post post-grid">
                            <div class="post-thumb">
                                <a href="blog.html"><img src="assets/images/blog-grid.jpg" alt=""></a>

                                <a href="#" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">View Post</div>
                                </a>
                            </div>
                            <div class="post-content">
                                <header class="entry-header text-center text-uppercase">
                                    <h6> Travel</a></h6>

                                    <h1 class="entry-title"><a href="blog.html">Home is peaceful place</a></h1>


                                </header>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consadipsing elitr, sed diam nonumy eirmod tevidubore
                                        et dolore magna aliquyam erat, sevolutua. At vero eos et accusam et justo duo
                                    </p>

                                    <div class="social-share">
                                        <span class="social-share-title pull-left text-capitalize"> February 12, 2016</span>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>-->
                </div>
                <!--<ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div>
            {% include "partials/sidebar.njk" %}
        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}