<!-- self-development-archive.html -->
{% extends "layout.html" %} {% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">






<!-- Why It's Important To Feel Your Emotions Fully -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/important-emotions-fully.jpg" alt="">

                        <a href="why-its-important-to-feel-your-emotions-fully.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="why-its-important-to-feel-your-emotions-fully.html">Why It's Important To Feel Your Emotions Fully</a></h1>
                        </header>
                        <div class="entry-content">

                          <p>One of the most common difficulties I see in people is the fear to FEEL. </p>

                            <p>As a culture, it seems we are becoming more in touch with our logic/rational selves and pushing away, even rejecting our emotional selves.  </p>

                            <p>The thing is, it's hurting us. The one thing I get asked the most often is "please help me feel again".  </p>
                            
                            <p>My entire approach to teaching Yoga is about staying present with the feelings and sensations that arise within us as we move or stay still within the asanas (postures). </p>

                            <p>The interesting thing is, we store all of our experiences in our body, and if we never learn to release them, they stay stuck. Then, we develop dis-ease, aches, pains, and injuries worsen or continue to reoccur. The link between the body and the mind is</p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="4-ways-to-get-out-of-your-head.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 11, 2017</span>
                        </div>
                    </div>
                </article>





                   
<!-- 3 Reasons Why Everybody Needs A Therapist -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/therapist.jpg" alt="">

                        <a href="3-reasons-why-everyone-needs-a-therapist.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="3-reasons-why-everyone-needs-a-therapist.html">3 Reasons Why Everybody Needs A Therapist</a></h1>
                        </header>
                        <div class="entry-content">
                           <p>For a long time, there was a stigma around therapy. I even noticed this when recently watching an episode of  Gilmore Girls (yes you can laugh at me:), where Lorelai said "A therapist? Why, have you gone crazy?" </p>
 
                            <p>There was this idea that you either needed to be "crazy" to see a therapist, or something really bad had to happen to you. </p> 
                            
                            <p>The truth is, everyone can benefit from therapy. </p> 
                            
                            <p>And here are 3 reasons why: </p>
                            
                            <p><strong>1. We all need help to dig deeper </strong></p>
                            
                            <p>Let's face it, as much as some of us have really close people with whom we can share everything with, you can only go so far with a friend or family member.  </p>
                            
                            <p>Of course, we all have that one caring person in our lives that would listen to us until the world ended, but the truth is, without proper training, no one can REALLY help us the way someone with a trained background can. </p>
                            
                            <p>Seeing a therapist, coach, psychologist, counselor or psychiatrist can really be beneficial in order to ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="3-reasons-why-everyone-needs-a-therapist.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">April 6, 2017</span>
                        </div>
                    </div>
                </article>





                <!-- Creating Change -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/creating-change.jpg" alt="">

                        <a href="creating-change.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>
                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="creating-change.html">HOW TO CREATE CHANGE &amp; WHAT HOLDS US BACK</a></h1>
                        </header>
                        <div class="entry-content">
                           <p>You <i>know</i> that <u>feeling</u> you get when you want to make a change in your life but something feels like its blocking you?</p>

                            <p>Maybe it's a change in lifestyle, a change in how you do certain things or a change in the way you think. Perhaps you've adopted a new way of thinking but your actions don't quite match your thoughts yet.</p>

                            <p>Regardless of the reason or nature of the change, we all know the feeling of wanting to change something in our lives and never getting around to it or feeling unable to do it.</p>

                            <p>Before we get right into it, let's explore the idea that there are 3 kinds of people when it comes to change:</p>
                            <ul>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>
                            <span>Those who don't want to change and never change</span></li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>
                            <span>Those who look for change but don't change</span></li>
                            <li><i class="fa fa-heart" aria-hidden="true"></i>
                            <span>Those who want to change and do it</span></li>
                            </ul>

                            <p>Let's take reading self-help books for the sake of this example.<p>
                            
                            <p>Some people have no interest in these books because ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="creating-change.html" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
                        </div>
                    </div>
                </article>



                   
                </div>
                <!--<ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div>
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}