<!-- self-development-archive.html -->
{% extends "layout.html" %} {% block content %}

<!--main content start-->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">






<!-- What 3 Beautiful Days at Shakti Fest Were Like -->
                <article class="post">
                    <div class="post-thumb">
                        <img src="assets/images/blog/shakti-fest.jpg" alt="">

                        <a href="what-3-beautiful-days-at-shakti-fest-were-like.html" class="post-thumb-overlay text-center">
                            <div class="text-uppercase text-center">View Post</div>
                        </a>


                    </div>
                    <div class="post-content">
                        <header class="entry-header text-center text-uppercase">
                            <h6>Self Development</h6>

                            <h1 class="entry-title"><a href="what-3-beautiful-days-at-shakti-fest-were-like">Why It's Important To Feel Your Emotions Fully</a></h1>
                        </header>
                        <div class="entry-content">

                          <p style="margin-bottom: 2rem;">One of the most famous Yoga, dance and music festivals is Shakti Fest, held in Joshua Tree, southern California. </p>
 
                            <p style="margin-bottom: 2rem;">It was my first time attending this type of event, and it was one of the best 3 days of my life.  </p>
                            
                            <p style="margin-bottom: 2rem;">Before I dive into the beautiful details, I thought I'd share what Shakti means. According to Wikipedia: <strong>Shakti</strong>, meaning power or empowerment, is the primordial cosmic energy and represents the dynamic forces that are thought to move through the entire universe. <strong>Shakti</strong> is the concept of <strong>divine feminine</strong> creative power, sometimes referred to as 'The Great Divine Mother'. </p>
                            
                            <p style="margin-bottom: 2rem;">Ironically this year, the festival landed on Mother's day. </p>

                            <p style="margin-bottom: 2rem;">As soon as we arrived (it was about an 8 hour -gorgeous- drive from Silicon Valley), I cried. Nothing had even happened yet, but the sight ... </p>

                            <div class="btn-continue-reading text-center text-uppercase">
                                <a href="what-3-beautiful-days-at-shakti-fest-were-like" class="more-link">Continue Reading</a>
                            </div>
                        </div>
                        <div class="social-share">
                            <span class="social-share-title pull-left text-capitalize">May 18, 2017</span>
                        </div>
                    </div>
                </article>




<!-- Welcome To My Blog -->
				<article class="post">
					<div class="post-thumb">
						<img src="assets/images/blog/welcome-to-my-blog.jpg" alt="">
						<a href="welcome-to-my-blog.html" class="post-thumb-overlay text-center">
							<div class="text-uppercase text-center">View Post</div>
						</a>
					</div>
					<div class="post-content">
						<header class="entry-header text-center text-uppercase">
							<h6>Spirituality</h6>
							<h1 class="entry-title"><a href="welcome-to-my-blog.html">Welcome To My Blog</a></h1>
						</header>
						<div class="entry-content">
							<h4>Hi friend, welcome to my blog!</h4>
							<p>I am so excited to be able to share things with you here.</p>
							<p>This is a sacred space where you can share and comment in the sections below the posts.</p>
							<p>I have so much information to share, but if you wish to read about a specific topic, please feel free to send me a
								note and I'll see what I can do. </p>
							<p>What you can expect: </p>

							<ul>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Content that will be interesting and informative </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Thought-provoking content </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>A little about me</span> </li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Blog posts once a week </span></li>
								<li><i class="fa fa-heart" aria-hidden="true"></i> <span>Posts that will inspire you, help you, support you, and guide you</span>
									</li>
							</ul>

							<p>I am here for YOU. </p>

							<div class="btn-read-more text-center text-uppercase">
								<a href="welcome-to-my-blog.html" class="more-link">read more</a>
							</div>
						</div>
						<!--<div class="social-share">
							<span class="social-share-title pull-left text-capitalize">March 8, 2017</span>
						</div>-->
					</div>
				</article>




                   
                </div>
                <!--<ul class="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>-->
            </div>
            {% include "partials/sidebar.html" %}
        </div>
    </div>
</div>
<!-- end main content-->




{% endblock %}