{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/shakti-fest.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Spirituality</h6>
              <h1 class="entry-title">What 3 Beautiful Days at Shakti Fest Were Like</h1>
            </header>
            <div class="entry-content">
              <p></p>

<style>

.entry-content ol li, .entry-content p {
  line-height: 2;
}

.entry-content ol li:last-child {
  margin-bottom: 25px;
}

ul li {
  list-style-type: circle;
}

</style>

<p style="margin-bottom: 2rem;">One of the most famous Yoga, dance and music festivals is Shakti Fest, held in Joshua Tree, southern California. </p>
 
<p style="margin-bottom: 2rem;">It was my first time attending this type of event, and it was one of the best 3 days of my life.  </p>
 
<p style="margin-bottom: 2rem;">Before I dive into the beautiful details, I thought I'd share what Shakti means. According to Wikipedia: <strong>Shakti</strong>, meaning power or empowerment, is the primordial cosmic energy and represents the dynamic forces that are thought to move through the entire universe. <strong>Shakti</strong> is the concept of <strong>divine feminine</strong> creative power, sometimes referred to as 'The Great Divine Mother'. </p>
 
<p style="margin-bottom: 2rem;">Ironically this year, the festival landed on Mother's day. </p>

<p style="margin-bottom: 2rem;">As soon as we arrived (it was about an 8 hour -gorgeous- drive from Silicon Valley), I cried. Nothing had even happened yet, but the sight of all these beautiful people, the smells of incense and sage, and the general feeling of togetherness brought unstoppable tears to my face. They were tears of relief, not sadness.  </p>
 
<p style="margin-bottom: 2rem;">It also brought me back to being in Bali and being in India, the two places where I transformed the most in my life. The two places that introduced me to spirituality, deep inner change, and an understanding of the world I had never had before. </p> 
 
<p style="margin-bottom: 2rem;">I felt at home again. </p>
 
<p style="margin-bottom: 2rem;">It feels like a different universe really. Everyone smiles at each other. If someone bumps into you, rather than just saying "sorry", they will embrace you in a hug. The few times I told complete strangers that their food looked good, they offered me some. If you need something, someone will give it to you. There is a beautiful sense of support and togetherness. It definitely is not 'every man to himself'. </p>
 
<p style="margin-bottom: 2rem;">Before each class and each workshop we hugged the person to our left, to our right, in front of us, and behind us.</p>  
 
<p style="margin-bottom: 2rem;">We held hands, and engaged in deep eye gazing in silent support of saying 'I SEE you'. </p> 
 
<p style="margin-bottom: 2rem;">Everyone cries. Everyone sheds. Everyone releases.  </p>
 
<p style="margin-bottom: 2rem;">It is a beautiful weekend of transformation, if you let yourself. </p> 
 
<p style="margin-bottom: 2rem;">All the food being served is vegan, vegetarian, organic, ayurvedic. </p> 
 
<p style="margin-bottom: 2rem;">I felt an overwhelming feeling of wanting to say "I love you" to every single person.</p>  
 
<p style="margin-bottom: 2rem;">Every hour from 7 am to 2 am there are kirtans, yoga classes, workshops, activities, and healing sound baths. You have the choice to be anywhere your soul needs in the moment.  </p>

<p>On Friday, we attended: </p>
<ul>
  <li><strong>Divine Lovers Rose Petal Puja & Cacao Ceremony with the goddess Dawn Cartwright</strong> </li>
  <li>Prana Vinyasa-Movement Meditation for All with Live Music with Shiva Rea </li>
  <li>Sunset Yoga Ceremonies for Self Healing with Brian Campbell  </li>
  <li style="margin-bottom: 2rem;">Healing Sound Bath with Lynda Arnold </li>
</ul>

<p>On Saturday, we attended: </p>
<ul>
  <li><strong>Journeying with The Radiance Sutras with Lorin Roche & Camille Maurine</strong> </li>
  <li>The Red Tent: Sacred Sexuality for Women with Dawn Cartwright </li>
  <li>Kundalini Dance-Yoga with Hemalayaa and DTO </li>
  <li style="margin-bottom: 2rem;"><strong>The Promise with Mark Whitwell (this guy really speaks the truth)</strong> </li>
</ul>

<p>On Sunday, we attended:</p> 
<ul>
  <li><strong>Tantra: The Path of Divine Love with Dawn Cartwright </strong></li>
  <li style="margin-bottom: 2rem;">Heartfully High Vibes - Kirtan Vinyasa with Govind Das & Radha </li>
</ul>

<p style="margin-bottom: 2rem;"><strong><i>(My favorites are in bold) </i></strong></p>

<p style="margin-bottom: 2rem;">I cried all weekend. Tears of release, tears of relief, tears of letting go of some pretty deep wounds. </p> 
 
<p style="margin-bottom: 2rem;">It was mind blowingly beautiful to see so many people, men and women, allowing themselves to open up and be vulnerable. The deepest form of connections happened because I let people see me for who I really am, and people allowed me to see them for who they really are. </p>
 
<p style="margin-bottom: 2rem;">My favorite part of the whole weekend was at the end of the first workshop with Dawn Cartwright. We were over 100 people in a large room, and we all held hands in a circle. Then, she led the way and started to walk back around the circle, looking into each and every person's eyes, until the very end of the circle. And each person followed. We each got to look into each other's eyes, deeply. Some of us were crying, others smiling, and others needed to look away because it was simply too much. But walking slowly, looking into each and every person's eyes was the deepest form of connection I can think of. I saw all these strangers, in all their beauty, all their vulnerability, all their rawness. And then they weren't strangers anymore.  </p>

<p style="margin-bottom: 2rem;">I believe that we all have a need to be seen. To be acknowledged, to be recognized. To be loved, to be accepted. To be understood. If you think about it, all our actions, all our words, all our feelings come from these needs.  </p>
 
<p style="margin-bottom: 2rem;">So I just want to take a moment to say, even though I can't physically see you, I acknowledge and recognize that you are reading this right now, and by reading this, you are receiving me. And through your receptivity, I am receiving you. There is an exchange of energy between me writing to you, and you reading.  </p>
 
<p style="margin-bottom: 2rem;">To add to the rawness of the experience, we camped in this beautiful desert, under the powerful energy of Mother Moon, and the bright stars. What an experience.  </p>
 
<p>Thank you Joshua Tree for holding space for Shakti Fest. And thank you Shakti Fest for bringing all these beautiful souls together. I am forever grateful. </p>

      <p>----</p>

<p>If you ever feel inspired to go to Shakti fest, make sure to buy your tickets ahead of time (they are half price about 4-5 months before the festival). </p>


      <p>----</p>

<p><strong>Have you ever had a transformative experience at a Yoga Festival? Share below, I'd love to hear about it! 
 </strong></p>


<br><br><br><br>

      <p><i>Image credit by <a href="https://tickets.brightstarevents.com/event/ShaktiFest2016">BrightStarEvents</a> </i></p>


            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">May 18, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}