{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/important-emotions-fully.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Self Development</h6>
              <h1 class="entry-title">Why It's Important To Feel Your Emotions Fully </h1>
            </header>
            <div class="entry-content">
              <p></p>

<style>

.entry-content ol li, .entry-content p {
  line-height: 2;
}

.entry-content ol li:last-child {
  margin-bottom: 25px;
}

</style>

<p style="margin-bottom: 2rem;">One of the most common difficulties I see in people is the fear to FEEL. </p>

<p style="margin-bottom: 2rem;">As a culture, it seems we are becoming more in touch with our logic/rational selves and pushing away, even rejecting our emotional selves.  </p>

<p style="margin-bottom: 2rem;">The thing is, it's hurting us. The one thing I get asked the most often is "please help me feel again".  </p>
 
<p style="margin-bottom: 2rem;">My entire approach to teaching Yoga is about staying present with the feelings and sensations that arise within us as we move or stay still within the asanas (postures). </p>

<p style="margin-bottom: 2rem;">The interesting thing is, we store all of our experiences in our body, and if we never learn to release them, they stay stuck. Then, we develop dis-ease, aches, pains, and injuries worsen or continue to reoccur. The link between the body and the mind is a very real thing, and the longer we disassociate the two, the longer we deny ourselves the ability to be free within ourselves. </p>
 
<p style="margin-bottom: 2rem;">If you want to test this theory, take a moment to close your eyes. Remember an emotionally  painful experience that happened to you in your life (it could be recently or all the way back to childhood). Now notice what you feel in your body. Have you stopped breathing? Perhaps there is a contraction somewhere, a sensation of caving in, or maybe even physical pain.  </p>
 
<p style="margin-bottom: 2rem;">When we remember a positive memory, usually we experience more breath, a feeling of expansion in the body, and a sensation of spaciousness.  </p>
 
<p style="margin-bottom: 2rem;">If you don't feel good when you think of a person or situation, it could be an indication that you have not allowed yourself to heal from what happened. </p>

 
<p style="margin-bottom: 2rem;">How did we get here? When we experience something unpleasant, we tend to want to get rid of the "bad" feelings as quickly as possible. We shove it aside, push it down, swallow the feelings, don't talk about it, or deny that it's even causing us distress. So, the emotion stays lodged in the body, literally.  </p>

<p style="margin-bottom: 2rem;">The best thing to do, is to feel each emotion <strong>FULLY</strong>. <br>
This sounds scary, I know. <br>
Especially when we live in a culture or we are surrounded by people who are literally afraid of feeling.  </p>
 
<p style="margin-bottom: 2rem;">The only reason anyone else is afraid of letting you feel what you need to feel is because they themselves have not learned to let themselves feel either. The great thing about allowing yourself to go to that vulnerable place, is that you won't only help yourself heal, but you will show others that <strong>it's OK to feel</strong>.  </p>
 
<p style="margin-bottom: 2rem;">There is <strong>nothing</strong> wrong with feeling, in fact, it's extremely healthy and natural. <p>

<p style="margin-bottom: 2rem;">Think of young kids; they are very passionate little beings. When they are upset they scream and cry, and they do it with their whole hearts. Then, once they've let it all out, they move on. They could be happy again within minutes. They don't hold on to the pain and anger. They expressed what they were feeling, they let it out, they let the feelings be heard, and they moved on.  </p>
 
<p style="margin-bottom: 2rem;">As we grow up, we stop doing this because it's not as "socially acceptable". So we swallow and push away and learn to stay "composed" for the comfort of the adults around us. </p> 
 
<p style="margin-bottom: 2rem;">I invite you to begin this practice of <strong>feeling</strong>, with the people closest to you. If you have kids, even better, show them while they are young, that it's important to feel. If not, do this with your therapist, close friends and family, as well as your partner.</p>

<p>Establish some important guidelines: </p>

 <ol>
<li>When it's your turn to <strong>feel</strong>, I will not judge ANY of your feelings, because there is nothing to judge, feelings have the right to exist just as they are. </li>
<li>I will not interrupt you while you are feeling or try to change how you are feeling because these are your feelings and I respect them. </li>
<li>I will not criticize you for feeling the way you feel, you are entitled to feel what you feel </li>
<li>I will hold space for you when you feel, meaning you will have my full attention and I will listen with a compassionate ear. </li>
<li>There will be no limit to how much you need to express (people tend to repeat or bring up the same stories over and over again because the story never got a chance to be fully expressed) </li>
 </ol>

<p>The important thing to take away from all this, is that your feelings need space. Once there is space for them to be felt and heard (even if it's just with yourself), they will move out of your body. They just need space to <strong>BE</strong>.  </p>

<p>----</p>

<p><strong>Feel free to share your experience below, I'd love to hear how it goes for you.</strong></p>


<br><br><br><br>

  <p><i>Image credit by <a href="http://www.catinwater.com/artistic_inspirations/powerful-emotions-captured-surreal-portraits-made-15-year-old-photographer/">Catinwater</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">May 11, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}