<!-- work-with-me.njk -->
{% extends "layout.njk" %}

 {% block content %}

<div class="jumbotron work-with-me-page">
  <div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="text-center">
					<p style="color: white;">Work With Me</p>
					
	<!--				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum quis tortor</p> -->
          </div>
				<!-- ./text-left -->
			</div>
			<!-- ./col-md-12 -->
			<div class="col-sm-6">
			</div>
		</div>
		<!-- ./row -->
	</div>
	<!-- ./container -->
	</div>
	<!-- ./jumbotron -->


<div class="main-content">

<section class="container">
	<div class="row">
	<div class="col-md-8">



		<div class="block">

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-purple p-1-month-student-package">
					<li>
						<div class="img" href="#"></div>
						<big>1-Month Student Package</big>
						<!--<big></big>-->
					</li>
					<li>Includes:</li>
					<li>4 sessions</li>
					<li>45 - 60 minutes each</li>
					<li><i>* Must show proof of current student attendance</i></li>
					<li><h3>$497</h3></li>
					<li class="link">Join Now</li>
				</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-dark-slate-green p-1-month-package">
					<li>
						<div class="img" href="#"></div>
						<big>1-Month Package</big>
					</li>
					<li>Includes:</li>
					<li>4 sessions</li>
					<li>45 - 60 minutes each</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li>
						<h3>$697</h3>
					</li>
					<li class="link">Join Now</li>
				</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-indian-red p-3-month-package">
					<li>
						<div class="img" href="#"></div>
						<big>3-Month Package</big>
					</li>
					<li>6 bi-weekly sessions</li>
					<li>45 - 60 minutes each</li>
					<li>Free email support for the weeks in between sessions</li>
						<!--<li></li>-->
					<!--<li></li>-->
					<!--<li></li>-->
					<!--<li></li>-->
					<li>
						<h3>$997</h3>
					</li>
					<li class="link">Join Now</li>
				</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-fiord p-6-month-package">
					<li>
						<div class="img" href="#"></div>
						<big>6-Month Package</big>
					</li>
					<li>13 bi-weekly sessions</li>
					<li>45 - 60 minutes each</li>
					<li>Free email support for the weeks in between sessions</li>
					<!--<li></li>-->
					<!--<li></li>-->
					<!--<li></li>-->
					<!--<li></li>-->
					<li>
						<h3>$1557</h3>
					</li>
					<li class="link">Join Now</li>
				</ul>
				</div>
			</div>





<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-purple p-12-month-package">
					<li>
						<div class="img" href="#"></div>
						<big>12-Month Package</big>
					</li>
					<li>Includes:</li>
					<li>Weekly sessions (up to 50 total)</li>
        <li>30 - 60 minutes each</li>
        <li>Free weekday email support</li>
        <li>The knowledge of knowning someone has your back &amp; is always there for you</li>
					<li><h3>$4997</h3></li>
					<li class="link">Join Now</li>
				</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-dark-slate-green p-additional-email-coaching">
					<li>
						<div class="img" href="#"></div>
						<big>Additional Email Coaching</big>
					</li>
					<li>Includes:</li>
						<li>Up to 300-word coaching responses</li>

					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li>
						<h3>$75</h3>
					</li>
					<li class="link">Join Now</li>
				</ul>
				</div>
			</div>


<div class="col-md-12">
<p>* In person via Skype or phone</p>
<p>* In-person coahcing only applicable if you live in the Bay Area</p>
<p>* If you need something specifically different, we can discuss a package catered to your needs</p>
<p>* 24-hour cancellation or reschedule notice for your coaching sessions</p>
</div>



<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-indian-red p-1-class-card">
					<li>
						<div class="img" href="#"></div>
						<big>1-Class Card</big>
					</li>
					<li><h3>$80</h3></li>
					<li class="link">Join Now</li>
					
				</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-fiord p-5-class-card">
					<li>
						<div class="img" href="#"></div>
						<big>5-Class Card</big>
					</li>
					<li><h3>$350</h3></li>
					<li class="link">Join Now</li>
					
				</ul>
				</div>
			</div>



<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-purple p-10-class-card">
					<li>
						<div class="img" href="#"></div>
						<big>10-Class Card</big>
					</li>
					<li><h3>$600</h3></li>
					<li class="link">Join Now</li>
					
				</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="pricing-box">
				<ul class="pricing p-dark-slate-green p-12-class-card">
					<li>
						<div class="img" href="#"></div>
						<big>20-Class Card</big>
					</li>
					<li><h3>$1000</h3></li>
					<li class="link">Join Now</li>
					
				</ul>
				</div>
			</div>

<div class="col-md-12">
<!--<p>Types of classes offered:</p>-->
  <p>My flows are a fusion of different styles</p>
<ul>
    <p>I also offer:</p>
    <li>Yin yoga</li>
    <li>Gentle yoga</li>
    <li>Guided meditation</li>
</ul>


</div>

		</div><!-- /block -->
	</div><!-- /col-md-8 -->
{% include "partials/sidebar.njk" %}
	</div><!-- /row -->
</section>
	<!-- /section -->

	</div><!-- /main -->



<!--{% include "partials/testimonials.njk" %}-->


{% endblock %}