<!-- you-have-36-525-days-to-live.njk -->
{% extends "layout.njk" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/days-to-live.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Happiness &amp; Love</h6>
              <h1 class="entry-title">You Have 36 525 Days To Live</h1>
            </header>
            <div class="entry-content">
              <p></p>



            <p>In my early twenties, I attended Toast Masters (an international organization aimed at helping people develop their communication and leadership skills), where I met a great friend. </p> 
            
            
            <p>This friend always had a lesson for me: <strong>LIVE LIFE TO THE FULLEST.</strong> </p>
            
            
            <p>He used to tell me "If you live to be 100 years old, that means that you will have 36 525 days to live on this earth." </p>
            
            <p>That doesn't seem like much right?  </p>
            
            <p>According to statista, the average life expectancy in North America is 77 years for males, and 81 years for females.  </p>
            
            <p>That's only 28 124 days for men, and 29 585 days for women.  </p>
            
            <p>What is the point of knowing this? Well friend, I want to enthusiastically encourage you to live your life with MEANING. </p>
            
            <p>Life is too short to be doing anything other than what makes your heart feel whole.  </p>
            
            <p>Is it really worth it to be living a half-lived-life? </p>
            
            <p>Everyone's definition of living to the fullest will look different. </p>
            
            <p>For some, it might mean to live life in an adventurous way, travelling, exploring, taking risks, having fun.  </p>

            <p>For others it might mean to have 3 kids and be dedicated to giving them the best childhood possible. </p>
            
            <p>For others it might mean to build schools and hospitals and spread awareness about a cause they feel strongly about.  </p>
            
            <p>And for another, it might mean to become an excellent chef and give people a gustatory experience of a lifetime. </p>
            
            
            <p>What have you ALWAYS wanted to do, but have pushed aside because : it's too scary, too expensive, you're too busy, there are too many responsibilities, etc? </p>
            
            <p><strong>NOW</strong> is the time. Yes, NOW! </p> 
            
            <p>If not now, when? </p>
            
            <p>Let's not fall into the trap of " when I finish school, when I have more money, when the kids move out, when I feel better, when I retire, when there's no time." </p>
            
            <p>There will always be a reason not to follow what our heart desires most.  </p>
            
            <p>I invite you to write a list, of all the things you would like to be/have/do/experience. </p>
            
            <p>Stick this list in your bedroom or somewhere where you will see it several times a day.  </p>
            
            <p>Begin to visualize yourself ALREADY living/doing/having/being those things.  </p>
            
            <p>Experience the sensations of what it feels like, what it looks like, what it tastes like.  </p>
            
            <p>Begin to live as if you are already there.  </p>
            
            <p>VISUALIZATION my friends, is a very powerful tool. </p>
            
            
            <p>Do this for <strong>you.</strong>  </p>
            
            <p>You deserve to live your life to the <strong>FULLEST.</strong> </p>
            
            
            <p>----</p>
            
            <p><strong>Care to share some of your deepest desires? Comment below, I'd love to know :) </strong></p>


            <br><br><br><br>

            <p><i>Image credit to Le Quang Thai </i></p>






            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Happiness &amp; Love</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">March 16, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.njk" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}