{% extends "layout.html" %} 

{% block content %}
<!--main content start-->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post">
          <div class="post-thumb">
            <img src="assets/images/blog/your-life-is-limitless.jpg" alt="">
          </div>
          <div class="post-content">
            <header class="entry-header text-center text-uppercase">
              <h6>Happiness &amp; Love</h6>
              <h1 class="entry-title">Your Life Is Limitless</h1>
            </header>
            <div class="entry-content">

<p>What if I told you <strong>there is nothing you cannot be, do, or have?</strong> </p>
 
<p>Perhaps reading that sentence immediately brings up self-doubt and fear.</p>

<p>I know how it feels to question that statement, in fact, my brain, and maybe yours too, comes up with hundreds of excuses. But all those are, are limiting beliefs.  </p>
 
<p>Those limiting beliefs are thoughts, and thoughts can be changed. </p> 
 
<p style="margin-bottom: 0;">Have you ever asked yourself why you believe your own thoughts? </p> 
<p>No, but really, what makes them true? The fact that you thought them? The fact that they exist?</p>  
 
<p>The amazing thing is that our thoughts create our feelings, and our feelings feed into our thoughts. It's a cycle. So, the only way to interrupt that cycle, is to consciously change our thoughts.  </p>
 
<p>What would happen if you allowed yourself to believe that everything is possible? Even if the world around you doesn't agree, or holds you back, or doesn't have the same drive and desire as you. All that matters is that <strong>YOU</strong> do. </p> 

<p>Our experiences on a day to day basis and a moment to moment basis, are entirely dependent on our thoughts. If our thoughts are constantly negative, chances are, our experiences will be negative too. </p> 
 
<p>For example, if one of your belief systems is that everyone is going to take advantage of you, you will live your life finding that everybody does take advantage of you, OR you will make yourself believe that people are taking advantage of you, because we always want to prove ourselves right, so we look for experiences around us that confirm our belief system. </p> 
 
<p>On the other hand, if our thoughts are constantly positive, chances are, our experiences will be positive too. </p>
 
<p>For example,  If one of your belief systems is that everyone is going to be helpful, you will live your life finding that everybody is in fact, quite helpful, or, you will look for experiences that prove your belief to be right. </p>

<p>Now that we know all that, what would happen if we went from : "I'm not good enough", I'm not enough", "I can't", "It will never happen". To: <strong>"I'm just as good as anyone else", "I am enough just as I am", "I CAN", "It will happen because I believe it will happen".</strong> </p>
 
<p>I invite you to go through a little exercise everyday, just for a few minutes. As soon as you notice a negative thought pattern or belief system arise in your mind, say the complete reverse. And see what happens if you do this on a regular basis.  </p>

<p>For example, you drop something on the floor and it breaks. Bam! Your first reaction is to say to yourself "I'm so stupid!!". Notice it, catch it, and instead say "Gosh, I'm so smart!". I know it might seem silly, but try it! </p>
 
<p>And let me tell you again: <strong>THERE IS NOTHING YOU CANNOT BE, DO, OR HAVE.</strong></p> 
 
<p>And here's a little extra bonus: use that sentence as a mantra everyday . (A mantra is a sound, word, or sentence that you repeat continuously). Write it down in the morning, and repeat it all day: <strong>There is nothing I cannot be, do, or have. </strong></p>

<p>----</p>
 
<p><strong>Try it, and then share in the comments below how it goes :) </strong></p>
<p><strong>Lots of love. </strong></p>
 


<br><br><br><br>

  <p><i>Image credit by <a href="https://fineartamerica.com/featured/limitless-brad-scott.html">Fine Art America</a> </i></p>







            </div>
            <!--<div class="decoration">
              <a href="blog.html#" class="btn btn-default">Spirituality</a>
            </div>-->
            <div class="social-share">
              <span class="social-share-title pull-left text-capitalize">June 22, 2017</span>
              <!--<ul class="text-center pull-right">
                <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
                <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="s-google-plus" href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a class="s-linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
              </ul>-->
            </div>
          </div>
        </article>
      
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://stephaniemankarios.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                

      
      </div>
      {% include "partials/sidebar.html" %}
    </div>
  </div>
</div>
<!-- end main content-->
{% endblock %}