.jumbotron.home-page {
	background-image: url("../images/photos/hero-home.jpg");
//	background-attachment: fixed;
		background-size: 100% auto;
	background-repeat: no-repeat;
	height: 130vh;
//	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 8px;
  font-family: libre-baskerville-regular;
  a {
			background-color: $primary-color;
			border-color: $primary-color;
		}
  .btn-primary:hover {
    background-color: $dark;
  }
}

.jumbotron.about-page {
	background-image: url("../images/photos/about-top.jpg");
//	background-attachment: fixed;
		background-size: 100% auto;
	background-repeat: no-repeat;
	height: 130vh;
//	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 8px;
	p {
	font-size: 7rem;
  font-family: libre-baskerville-regular;
	padding-top: 20vh;
	padding-right: 50%;
	}
}

.jumbotron.contact-page {
		background-image: url("../images/photos/contact.jpg");
//	background-attachment: fixed;
		background-size: 100% auto;
	background-repeat: no-repeat;
	height: 130vh;
//	min-height: 400px;
	margin-top: 0px;
	margin-bottom: 8px;
	p {
	font-size: 7rem;
  font-family: libre-baskerville-regular;
	padding-top: 20vh;
	padding-right: 50%;
	}
}


.jumbotron.work-with-me-page {
		background-image: url("../images/photos/work-with-me.jpg");
//	background-attachment: fixed;
		background-size: 100% auto;
	background-repeat: no-repeat;
	height: 100vh;
	margin-top: 0px;
	margin-bottom: 8px;
	p {
	font-size: 7rem;
  font-family: libre-baskerville-regular;
	padding-top: 50vh;
	}

}







.navbar {
	margin-bottom: 0;
//	background-color: white;
}


