$primary-color: #00BFF3;
$dark: darken($primary-color,10%);

$secondary-color: #333;

$purple: #8D7687;
$dark-slate-green: #43594C;
$gainsboro: #E1DBDB;
$indian-red: #B5715C;
$fiord: #445566;

$sidebar-heart: #d75a4a;