//@import '../../node_modules/normalize-scss/sass/normalize';


@import 'bootstrap.min';
@import 'font-awesome.min';
@import 'animate.min';
@import 'owl.carousel';
@import 'owl.theme';
@import 'owl.transitions';
@import 'main';
@import 'jumbotron';
@import 'sidebar-categories';
@import 'responsive';